<div class="blog-topic-card">
  <img
    src="images/istockphoto-646350998-1024x1024 8.png"
    alt="istockphoto-646350998-1024x1024 5.png"
  />
  <div class="tags">
    <div class="tag">
      <div class="tag-dot"></div>
      <p>saveti</p>
    </div>
  </div>
  <h2 class="blog-title">
    O dobrovoljnom davanju trombocita i matičnih ćelija
  </h2>
  <p class="blog-desc">
    Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
    transplantacije matičnih ćelija, koncerte i tribinu.
  </p>
  <a class="read-more" href="#">Pročitaj više</a>
</div>
