<!-- Da dobijes "Izdvajamo" komponentu samo dodas blog-topic-card-horizontal klasu pored blog-topic-card klase -->
<div class="blog-topic-card blog-topic-card-horizontal">
  <div class="blog-topic-card-image">
    <h2 class="blog-topic-card-image-title">Izdvajamo:</h2>
    <img
      src="images/istockphoto-646350998-1024x1024 8.png"
      alt="istockphoto-646350998-1024x1024 5.png"
    />
  </div>
  <div class="blog-topic-card-content">
    <div class="tags">
      <div class="tag">
        <div class="tag-dot"></div>
        <p>saveti</p>
      </div>
    </div>
    <h2 class="blog-title">
      O dobrovoljnom davanju trombocita i matičnih ćelija
    </h2>
    <p class="blog-desc">
      Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
      transplantacije matičnih ćelija, koncerte i tribinu.
    </p>
    <a class="read-more" href="#">Pročitaj više</a>
  </div>
</div>
