<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<meta charset="UTF-8" />

<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-logo-wrapper">
      <img src="../assets/svgs/Logo.svg" class="footer-logo" alt="Logo" />
      <div class="footer-store-wrapper">
        <a href="http://google.rs">
          <img class="footer-app-store-logo" src="../assets/svgs/App Store.svg" alt="App Store" />
        </a>
        <a href="http://google.rs">
          <img src="../assets/svgs/Play Store.svg" class="footer-play-store-logo" alt="Play Store" />
        </a>
      </div>
    </div>

    <div class="footer-links-wrapper">
      <div class="footer-title-wrapper">
        <img class="footer-polygon" src="../assets/svgs/Polygon.svg" />
        <h6 class="footer-links-title">LINKOVI</h6>
      </div>
      <a href="#" class="footer-links">O nama</a>
      <a href="#" class="footer-links">Blog</a>
      <a href="#" class="footer-links">Naši pobednici</a>
      <a href="#" class="footer-links">Kako pomoći?</a>
      <a href="#" class="footer-links">Kontakt</a>
    </div>

    <div class="footer-links-wrapper">
      <div class="footer-title-wrapper">
        <img class="footer-polygon" src="../assets/svgs/Polygon.svg" />
        <h6 class="footer-links-title">MEDIJI O NAMA</h6>
      </div>
      <a href="#" class="footer-links">„Leuka“ u Užicu: Trombociti neophodni obolelima od akutne leukemije</a>
      <a href="#" class="footer-links">UG ”Leuka”: Dobrota leči </a>
      <a href="#" class="footer-links">„Leuka“ u Užicu: Trombociti neophodni obolelima</a>
    </div>

    <div class="footer-links-wrapper">
      <div class="footer-title-wrapper">
        <img class="footer-polygon" src="../assets/svgs/Polygon.svg" />
        <h6 class="footer-links-title">KONTAKT</h6>
      </div>
      <a href="mailto:leuka@email.com?subject=your title&body=TThe message" class="footer-links">Email:
        leuka@email.com</a>

      <div class="footer-title-wrapper">
        <img class="footer-polygon" src="../assets/svgs/Polygon.svg" />
        <h6 class="footer-links-title">ZAPRATITE NAS</h6>
      </div>
      <div>
        <a href="#" class="footer-links">
          <img class="footer-social-logo" src="../assets/svgs/Facebook.svg" />
        </a>
        <a href="#" class="footer-links">
          <img class="footer-social-logo" src="../assets/svgs/Twitter.svg" />
        </a>
        <a class="footer-links" href="#">
          <img class="footer-social-logo" src="../assets/svgs/Instagram.svg" />
        </a>
      </div>
      <div class="footer-copyright">
        ©2022 Leuka
      </div>
    </div>
  </div>
</footer>