<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<meta charset="UTF-8" />

<div class="pre-contact-wrapper">
  <h3 class="title">Naše Članarine</h3>
  <p class="subtitle">Konačno, možda najvažniji efekat leukemije</p>
  <button class="button">Kontaktiraj nas</button>

  <div class="card-wrapper">
    <div class="card">
      <h4 class="card-title">Godišnja članarina</h4>
      <p class="description">Članovi koji žele da im poslodavac plati članarinu (grupno ili pojedinačno članstvo), se
        mole
        da popune formu na
        dnu strane sa podacima neophodnim za kreiranje predračuna. Ukoliko iz iste orgaizacije postoji više lica za koje
        se
        plaća članarina dovoljno je da se podnese samo jedan zahtev sa nazanakom za koliko lica se uplaćuje.</p>
    </div>

    <div class="card">
      <h4 class="card-title">Članarina preko Vaše organizacije</h4>
      <p class="description">Članovi koji žele da im poslodavac plati članarinu (grupno ili pojedinačno članstvo), se
        mole
        da popune formu na dnu strane sa podacima neophodnim za kreiranje predračuna. Ukoliko iz iste orgaizacije
        postoji
        više lica za koje se plaća članarina dovoljno je da se podnese samo jedan zahtev sa nazanakom za koliko lica se
        uplaćuje.</p>
    </div>

    <div class="card">
      <h4 class="card-title">Samostalno placanje članarine</h4>
      <p class="description">Članarina se plaća u dinarima. Uplata se vrši na tekući račun Udruženja internih revizora
        Srbije, broj 160-306456-74, Banca Intesa Beograd. Prilikom uplate u polju „svrha plaćanja“ obavezno navesti
        „članarina za 202 godinu“. U pozivu na broj navesti GAN broj (ID Broj kod Global IIA) ili članski broj UIRS
        (važi
        za uplate fizičkih lica).</p>
    </div>
  </div>
</div>