<div class="highlighted-article bg-lighblue-1">
  <div class="highlighted-article-container">
    <div class="highlighted-article-image">
      <div>
        <h3>Izdvajamo:</h3>
        <img src="../images/highlighted-article.png" alt="Voluntary Donation" />
      </div>
    </div>
    <div class="highlighted-article-content">
      <div class="tag">
        <div class="tag-dot"></div>
        <p>priče</p>
      </div>
      <div class="highlighted-article-text">
        <h3>O borbi protiv leukemije godinu i po dana posle izlečenja</h3>
        <p>
          Sportski novinar iz Niša Aleksandar Nikolić posle transplantacije
          matičnih ćelija koštane srži imunitet gradi od nule, pa je na oprez,
          na kakav je zbog pandemije sada prinuđen ceo svet, već navikao.
        </p>
        <div class="buttons">
          <a href="#" class="button button-link">Pročitaj više</a>
        </div>
      </div>
    </div>
  </div>
</div>