<div class="gallery">
  <div class="gallery-content">
    <div class="gallery-row">
      <div class="image-wrapper">
        <img src="images/istockphoto-646350998-1024x1024 5.png" alt="Image 1" />
      </div>
      <div class="image-wrapper">
        <img src="images/istockphoto-646350998-1024x1024 6.png" alt="Image 2" />
      </div>
      <div class="image-wrapper">
        <img src="images/istockphoto-646350998-1024x1024 7.png" alt="Image 3" />
      </div>
    </div>
    <div class="gallery-row reversed">
      <div class="image-wrapper">
        <img src="images/istockphoto-646350998-1024x1024 8.png" alt="Image 4" />
      </div>
      <div class="image-wrapper">
        <img src="images/istockphoto-646350998-1024x1024 9.png" alt="Image 5" />
      </div>
      <div class="image-wrapper">
        <img src="images/istockphoto-646350998-1024x1024 10.png" alt="Image 6" />
      </div>
    </div>
  </div>
</div>
