<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7bf16ba-ab39-4138-8850-f829063f2cea" Alias="404" Level="2">
  <Info>
    <Parent Key="cd4ce923-4b40-4bd5-b0a1-1b8d41bb7262">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>error404</ContentType>
    <CreateDate>2022-10-15T11:26:04</CreateDate>
    <NodeName Default="404" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5ad025e1-e058-41ea-b60b-b685d4d36a29">Error404</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <appStoreURL>
      <Value><![CDATA[[
  {
    "name": "Andorid App",
    "target": "_blank",
    "url": "https://play.google.com/store/games",
    "queryString": "?hl=en&gl=US"
  }
]]]></Value>
    </appStoreURL>
    <canonicalLink>
      <Value><![CDATA[]]></Value>
    </canonicalLink>
    <contactEmail>
      <Value><![CDATA[leuka@email.com]]></Value>
    </contactEmail>
    <copyrightText>
      <Value><![CDATA[2022 Leuka]]></Value>
    </copyrightText>
    <donationButton>
      <Value><![CDATA[[
  {
    "key": "bb905258-5944-48f3-a267-28807b256422",
    "name": "Item 1",
    "ncContentTypeAlias": "button",
    "PropType": null,
    "linkTitle": "Doniraj",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/cd4ce9234b404bd5b0a11b8d41bb7262\"}]",
    "buttonColor": "Green",
    "buttonStyle": "Stroked"
  }
]]]></Value>
    </donationButton>
    <errorDescription>
      <Value><![CDATA[[
  {
    "key": "56d32c0d-02dd-4d09-97f2-ab4666ed042f",
    "name": "Item 1",
    "ncContentTypeAlias": "titleDescriptionAndButton",
    "PropType": null,
    "title": "Stranica nije pronađena",
    "description": "Proverite da li ste tačno uneli adresu",
    "button": "[\r\n  {\r\n    \"key\": \"5c46bf02-4ef9-4254-9fd7-52665df7e847\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"button\",\r\n    \"PropType\": null,\r\n    \"linkTitle\": \"Idi na početnu stranicu\",\r\n    \"link\": \"[{\\\"name\\\":\\\"Home\\\",\\\"udi\\\":\\\"umb://document/cd4ce9234b404bd5b0a11b8d41bb7262\\\"}]\",\r\n    \"buttonColor\": \"Pink\",\r\n    \"buttonStyle\": \"Regular\"\r\n  }\r\n]"
  }
]]]></Value>
    </errorDescription>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <facebookURL>
      <Value><![CDATA[[
  {
    "name": "Facebook",
    "url": "https://www.facebook.com/leuka.rs/"
  }
]]]></Value>
    </facebookURL>
    <footerLinks>
      <Value><![CDATA[[
  {
    "name": "Blog",
    "udi": "umb://document/23d68428f7b64b23acfa921d48b1f64b"
  },
  {
    "name": "Naši pobednici",
    "udi": "umb://document/aa33fd89984d4828bfacdd3990a056d4"
  },
  {
    "name": "Kako pomoći?",
    "udi": "umb://document/e8c2d2edae9842828b0bd6fa87fb8737"
  },
  {
    "name": "Kontakt",
    "udi": "umb://document/8f17e8170ec44a94bacfc1d476e924a8"
  }
]]]></Value>
    </footerLinks>
    <footerLogo>
      <Value><![CDATA[umb://media/2bf607558ce8499984fa1973d2c0e217]]></Value>
    </footerLogo>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <instagramURL>
      <Value><![CDATA[[
  {
    "name": "Instagram",
    "url": "https://twitter.com/leuka20"
  }
]]]></Value>
    </instagramURL>
    <links>
      <Value><![CDATA[[
  {
    "name": "Kako pomoći?",
    "udi": "umb://document/e8c2d2edae9842828b0bd6fa87fb8737"
  },
  {
    "name": "Naši pobednici",
    "udi": "umb://document/aa33fd89984d4828bfacdd3990a056d4"
  },
  {
    "name": "Blog",
    "udi": "umb://document/23d68428f7b64b23acfa921d48b1f64b"
  },
  {
    "name": "Pridruži nam se",
    "udi": "umb://document/933eba090a164d4db039dbde0e90cbfb"
  },
  {
    "name": "Kontakt",
    "udi": "umb://document/8f17e8170ec44a94bacfc1d476e924a8"
  }
]]]></Value>
    </links>
    <logo>
      <Value><![CDATA[umb://media/2bf607558ce8499984fa1973d2c0e217]]></Value>
    </logo>
    <mediaLinks>
      <Value><![CDATA[[
  {
    "name": "Leuka danas u Užicu",
    "url": "https://www.danas.rs/vesti/drustvo/leuka-u-uzicu-trombociti-neophodni-obolelima-od-akutne-leukemije/"
  },
  {
    "name": "Udruženje Leuka: Srbiji treba 100.000 donatora koštane srži, a ima 8.500",
    "url": "https://rs.n1info.com/zdravlje/udruzenje-leuka-srbiji-treba-100-000-donatora-kostane-srzi-a-ima-8-500/"
  }
]]]></Value>
    </mediaLinks>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageTitle>
      <Value><![CDATA[Stranica nije pronađena]]></Value>
    </pageTitle>
    <playStoreURL>
      <Value><![CDATA[[
  {
    "name": "Iphone App",
    "target": "_blank",
    "url": "https://www.apple.com/store"
  }
]]]></Value>
    </playStoreURL>
    <popupDonate>
      <Value><![CDATA[]]></Value>
    </popupDonate>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <separator>
      <Value><![CDATA[]]></Value>
    </separator>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[]]></Value>
    </sitemapPriority>
    <thanksPopup>
      <Value><![CDATA[]]></Value>
    </thanksPopup>
    <twitterURL>
      <Value><![CDATA[[
  {
    "name": "Twitter",
    "url": "https://twitter.com/leuka20"
  }
]]]></Value>
    </twitterURL>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>