<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6c33b6c-df2e-444e-95ca-7692d5171de9" Alias="Article" Level="2">
  <Info>
    <Parent Key="cd4ce923-4b40-4bd5-b0a1-1b8d41bb7262">Home</Parent>
    <Path>/Home/Article</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2022-10-15T14:55:02</CreateDate>
    <NodeName Default="Article" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <appStoreURL>
      <Value><![CDATA[]]></Value>
    </appStoreURL>
    <authorDetails>
      <Value><![CDATA[[
  {
    "key": "e299c1de-b5d1-4fab-b906-c0f6677665bc",
    "name": "Item 1",
    "ncContentTypeAlias": "authorDetails",
    "PropType": null,
    "image": "umb://media/c77d213286d64867b36be172abef2d73",
    "fullName": "Stefan Joksimovic",
    "publishDate": "2022-10-10T00:00:00",
    "description": "Dejan Nikolić, istoričar, književnik i publicista, rođen je 1965. u Despotovcu. Porodični koreni mu se nalaze u Brestovu. Srednju školu završio je na Pedagoškoj akademiji u Jagodini, a zatim ga je ljubav prema istorijskoj nauci odvela u Beograd. Diplomirao je na Filozofskom fakultetu, na grupi za istoriju.",
    "facebookURL": "[{\"name\":\"Facebook Test\",\"url\":\"https://www.c-sharpcorner.com/blogs/date-and-time-format-in-c-sharp-programming1\"}]",
    "twitterURL": null,
    "googleURL": null,
    "whatsAppInfo": "0611212123"
  }
]]]></Value>
    </authorDetails>
    <canonicalLink>
      <Value><![CDATA[]]></Value>
    </canonicalLink>
    <contactEmail>
      <Value><![CDATA[]]></Value>
    </contactEmail>
    <copyrightText>
      <Value><![CDATA[]]></Value>
    </copyrightText>
    <donationButton>
      <Value><![CDATA[]]></Value>
    </donationButton>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <facebookURL>
      <Value><![CDATA[]]></Value>
    </facebookURL>
    <footerLinks>
      <Value><![CDATA[]]></Value>
    </footerLinks>
    <footerLogo>
      <Value><![CDATA[]]></Value>
    </footerLogo>
    <headlineInfo>
      <Value><![CDATA[[
  {
    "key": "8cc8a787-131d-4e84-8acd-cbfd0d0156b6",
    "name": "Item 1",
    "ncContentTypeAlias": "titleDescriptionAndButton",
    "PropType": null,
    "title": "Leukemija - Budi zdrav, produži život.",
    "description": "Bela krvna zrnca (leukociti) su deo imunog sistema i lorem ipsum dolor sit amet.",
    "button": null
  }
]]]></Value>
    </headlineInfo>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <instagramURL>
      <Value><![CDATA[]]></Value>
    </instagramURL>
    <links>
      <Value><![CDATA[]]></Value>
    </links>
    <logo>
      <Value><![CDATA[]]></Value>
    </logo>
    <mediaLinks>
      <Value><![CDATA[]]></Value>
    </mediaLinks>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageDetails>
      <Value><![CDATA[<p><img src="?width=500&amp;height=260.17811704834605" alt="" width="500" height="260.17811704834605" data-udi="umb://media/05721eb744eb470a84cf4330196c05c5" /><br /><br />Već dve noći, i sada drugi dan, u momentu dok ovo pišem, duže od 40 sati neprekidnog rada, ekipa vrhunskih programera ove zemlje pravi mobilnu aplikaciju za Leuku.</p>
<p>Uzrok nekontrolisane produkcije leukocita je kancerogena mutacija mijelogene ili limfogene ćelije. Ovo dešavanje u telu izaziva leukemiju koja se obično odlikuje velikim povečanjem broja normalnih leukocita u cirkulišućoj krvi. Bela krvna zrnca (leukociti) su veoma značajni faktor u borbi protiv infektivnih bolesti, kod zdravih ljudi oni se normalno produkuju u koštanoj srži i sa drugim organima grade imuni sistem. Kod osoba koji boluju od leukemije, koštana srž produkuje leukocite abnormalne građe, koji nisu sposobni da na adekvatan način grade imunitet.</p>
<p>Leukemije se dele u dve glavne vrste:</p>
<ol>
<li>Limfocitne leukemije Limfocitne leukemije su izazvane kancerskom produkcijom limfoidnih ćelija, koja obično počinje u limfnim čvorovima ili drugom limfocitnom tkivu i zatim se širi u druga područja organizma.</li>
<li>Limfocitne leukemije Ova vrsta počinje kancerskom produkcijom mladih mijelogenih ćelija u koštanoj srži, a zatim se širi po celom organizmu, tako da se leukociti produkuju u mnogim ekstramedularnim organima, posebno u limfnim čvorovima, slezini i jetri. U ovoj vrsti kancerski proces povremeno produkuje delimično diferencirane ostale ćelije krvi. Međutim, leukemijske ćelije su često bizarne i nediferencirane i nisu identične nisa jednom normalnom vrstom leukocita. Obično, sto je veći broj nediferenciranih ćelija, to je i leukemija akutnija, često dovodi do smrti u roku od nekoliko meseci ukoliko se ne leči. Kada su više diferencirane ćelije, proces može biti hroničan, razvijajući se ponekad sporo, preko 10 do 20 godina. Leukemijske ćelije, posebno vrlo nediferencirane, obično su nefunkcionalne u obezbeđivanju uobičajne odbrane protiv infekcije svojstvene leukocitima.</li>
</ol>
<p><strong>Simptomi</strong></p>
<p>Groznica ili drhatavica<br />Umor i slabost<br />Česte i ozbiljne infekcije<br />Gubitak na težini<br />Otok limfnih čvorova, uvećana slezina i jetra<br />Česta krvarenja po koži<br />Periodično krvarenje iz nosa<br />Male crvene tačkice na koži (petehije)<br />Prekomereno znojenje, naročito tokom noći<br />Bol u kostima<br />Osetljivost</p>]]></Value>
    </pageDetails>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <playStoreURL>
      <Value><![CDATA[]]></Value>
    </playStoreURL>
    <popupDonate>
      <Value><![CDATA[]]></Value>
    </popupDonate>
    <previewImage>
      <Value><![CDATA[]]></Value>
    </previewImage>
    <previewText>
      <Value><![CDATA[]]></Value>
    </previewText>
    <relatedArticles>
      <Value><![CDATA[]]></Value>
    </relatedArticles>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <separator>
      <Value><![CDATA[]]></Value>
    </separator>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[]]></Value>
    </sitemapPriority>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <thanksPopup>
      <Value><![CDATA[]]></Value>
    </thanksPopup>
    <twitterURL>
      <Value><![CDATA[]]></Value>
    </twitterURL>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>