<?xml version="1.0" encoding="utf-8"?>
<Content Key="23d68428-f7b6-4b23-acfa-921d48b1f64b" Alias="Blogovi" Level="2">
  <Info>
    <Parent Key="cd4ce923-4b40-4bd5-b0a1-1b8d41bb7262">Home</Parent>
    <Path>/Home/Blogovi</Path>
    <Trashed>false</Trashed>
    <ContentType>blogs</ContentType>
    <CreateDate>2022-10-15T00:12:37</CreateDate>
    <NodeName Default="Blogovi" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f961ffca-2894-415c-a7b0-2ce16114d8ce">Blogs</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <appPromotion>
      <Value><![CDATA[[
  {
    "key": "f90f0a34-5596-43b9-942b-5e83adddf3a0",
    "name": "Item 1",
    "ncContentTypeAlias": "appPromotion",
    "PropType": null,
    "title": "Preuzmite mobilnu aplikaciju za davaoce trombocita",
    "androidAppLink": "[{\"name\":\"Andorid App\",\"target\":\"_blank\",\"url\":\"https://play.google.com/store/games\",\"queryString\":\"?hl=en&gl=US\"}]",
    "appleAppLink": "[{\"name\":\"Iphone App\",\"target\":\"_blank\",\"url\":\"https://www.apple.com/store\"}]",
    "description": "Udruženje pacijenata obolelih od akutne leukemije je napravilo aplikaciju pomoću koje mozete postati davalac trombocita.",
    "separator": "[\r\n  {\r\n    \"key\": \"9eb15416-9347-45c3-9b32-87c320048d72\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"separator\",\r\n    \"PropType\": null,\r\n    \"variant\": \"White and Red\"\r\n  }\r\n]"
  }
]]]></Value>
    </appPromotion>
    <appStoreURL>
      <Value><![CDATA[]]></Value>
    </appStoreURL>
    <canonicalLink>
      <Value><![CDATA[]]></Value>
    </canonicalLink>
    <contactEmail>
      <Value><![CDATA[]]></Value>
    </contactEmail>
    <copyrightText>
      <Value><![CDATA[]]></Value>
    </copyrightText>
    <donationButton>
      <Value><![CDATA[]]></Value>
    </donationButton>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <facebookURL>
      <Value><![CDATA[]]></Value>
    </facebookURL>
    <footerLinks>
      <Value><![CDATA[]]></Value>
    </footerLinks>
    <footerLogo>
      <Value><![CDATA[]]></Value>
    </footerLogo>
    <grid>
      <Value><![CDATA[[
  {
    "key": "eccb672d-397a-47f9-a4c8-daef2f4210f7",
    "name": "Item 1",
    "ncContentTypeAlias": "blockGrid",
    "PropType": null,
    "title": "Blogs"
  }
]]]></Value>
    </grid>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <highlightedArticle>
      <Value><![CDATA[[
  {
    "key": "f687ac01-eb23-405e-941d-5815032668a8",
    "name": "Item 1",
    "ncContentTypeAlias": "highlightedArticle",
    "PropType": null,
    "highlightTitle": "Izdvajamo:",
    "image": "umb://media/2bc07f5c4b4b4fae849ea69e502ec190",
    "category": "saveti",
    "title": "O dobrovoljnom davanju trombocita i matičnih ćelija",
    "description": "Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme transplantacije matičnih ćelija, koncerte i tribinu.",
    "linkButton": "[\r\n  {\r\n    \"key\": \"d9339aba-bd1f-45c3-bfec-75013b8f8ca3\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"button\",\r\n    \"PropType\": null,\r\n    \"linkTitle\": \"Pročitaj više\",\r\n    \"link\": \"[{\\\"name\\\":\\\"First article\\\",\\\"udi\\\":\\\"umb://document/5a71985dd9da42b2a93cfed28a7f1047\\\"}]\",\r\n    \"buttonColor\": \"\",\r\n    \"buttonStyle\": \"Link\"\r\n  }\r\n]",
    "separator": "[\r\n  {\r\n    \"key\": \"1697fcbc-f84c-4d13-8326-b7ec9b2eb00d\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"separator\",\r\n    \"PropType\": null,\r\n    \"variant\": \"White and Red\"\r\n  }\r\n]"
  }
]]]></Value>
    </highlightedArticle>
    <instagramURL>
      <Value><![CDATA[]]></Value>
    </instagramURL>
    <links>
      <Value><![CDATA[]]></Value>
    </links>
    <logo>
      <Value><![CDATA[umb://media/a54b59d7edcd4225878432e19eb496ff]]></Value>
    </logo>
    <mediaLinks>
      <Value><![CDATA[]]></Value>
    </mediaLinks>
    <navigationTitle>
      <Value><![CDATA[Navigation title field]]></Value>
    </navigationTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageHeadline>
      <Value><![CDATA[[
  {
    "key": "133b9145-eb17-4566-bc01-c44a6f81ba96",
    "name": "Item 1",
    "ncContentTypeAlias": "titleDescriptionAndButton",
    "PropType": null,
    "title": "Leukemija - Budi zdrav, produži život. ",
    "description": "Na našem blogu mozete pronaći pregršt informacija vezanih za leukemiju",
    "button": null
  }
]]]></Value>
    </pageHeadline>
    <pageTitle>
      <Value><![CDATA[Blogovi]]></Value>
    </pageTitle>
    <playStoreURL>
      <Value><![CDATA[]]></Value>
    </playStoreURL>
    <popupDonate>
      <Value><![CDATA[]]></Value>
    </popupDonate>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <separator>
      <Value><![CDATA[]]></Value>
    </separator>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[]]></Value>
    </sitemapPriority>
    <thanksPopup>
      <Value><![CDATA[]]></Value>
    </thanksPopup>
    <twitterURL>
      <Value><![CDATA[]]></Value>
    </twitterURL>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>