<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a71985d-d9da-42b2-a93c-fed28a7f1047" Alias="First article" Level="3">
  <Info>
    <Parent Key="23d68428-f7b6-4b23-acfa-921d48b1f64b">Blogovi</Parent>
    <Path>/Home/Blogovi/FirstArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2022-10-15T23:57:40</CreateDate>
    <NodeName Default="First article" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9aa6c9c2-7986-492c-be75-1e474b926a91">Blog</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <appStoreURL>
      <Value><![CDATA[]]></Value>
    </appStoreURL>
    <authorDetails>
      <Value><![CDATA[[
  {
    "key": "a5c1593d-dddd-4784-8c58-75ff72c1e2c8",
    "name": "Item 1",
    "ncContentTypeAlias": "authorDetails",
    "image": "umb://media/c77d213286d64867b36be172abef2d73",
    "fullName": "Stefan Jovanovic",
    "publishDate": "2022-10-22T00:00:00",
    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper erat sit amet efficitur hendrerit. Donec viverra ut magna eu tempus. Nullam lacinia justo nisi, quis ullamcorper augue condimentum sed. Duis porta magna non justo commodo, sit amet congue turpis tristique.",
    "facebookURL": "[{\"name\":\"Face\",\"url\":\"https://stackoverflow.com/questions/35809613/no-physical-template-file-was-found-for-template-home\"}]",
    "twitterURL": "[{\"name\":\"Twitter\",\"url\":\"https://stackoverflow.com/questions/35809613/no-physical-template-file-was-found-for-template-home\"}]",
    "googleURL": "[{\"name\":\"Google\",\"url\":\"https://stackoverflow.com/questions/35809613/no-physical-template-file-was-found-for-template-home\"}]",
    "whatsAppInfo": "+38140404040"
  }
]]]></Value>
    </authorDetails>
    <canonicalLink>
      <Value><![CDATA[]]></Value>
    </canonicalLink>
    <contactEmail>
      <Value><![CDATA[]]></Value>
    </contactEmail>
    <copyrightText>
      <Value><![CDATA[]]></Value>
    </copyrightText>
    <donationButton>
      <Value><![CDATA[]]></Value>
    </donationButton>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <facebookURL>
      <Value><![CDATA[]]></Value>
    </facebookURL>
    <footerLinks>
      <Value><![CDATA[]]></Value>
    </footerLinks>
    <footerLogo>
      <Value><![CDATA[]]></Value>
    </footerLogo>
    <headlineInfo>
      <Value><![CDATA[]]></Value>
    </headlineInfo>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <instagramURL>
      <Value><![CDATA[]]></Value>
    </instagramURL>
    <links>
      <Value><![CDATA[]]></Value>
    </links>
    <logo>
      <Value><![CDATA[]]></Value>
    </logo>
    <mediaLinks>
      <Value><![CDATA[]]></Value>
    </mediaLinks>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageDetails>
      <Value><![CDATA[<p style="text-align: center;"><strong>Akutna mijelodna leukemija</strong></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><img style="display: block; margin-left: auto; margin-right: auto;" src="?width=639&amp;height=332&amp;mode=max" alt="" width="639" height="332" data-udi="umb://media/8d4c2cb416744802868d5624e81e4455" /></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><strong>Akutna mijelodna leukemija</strong>, jedna je od najmalignijih bolesti kod ljudi, od koje godišnje u Srbiji oboli oko 150 pacijenata. Ova retka bolest javlja se u svim uzrastima, a učestalost raste sa starošću…</p>
<p style="text-align: justify;">Akutne leukemije ili rak krvi predstavljaju maligne bolesti ćelija krvi i koštane srži. Postoje dva osnovna tipa ove bolesti: akutna mijeloidna i akutna limfoblastna leukemija.</p>
<p style="text-align: justify;">Odlikuje ih nekontrolisano umnožavanje nezrelih ćelija limfoidne ili mijeloidne loze, povećanje broja belih krvnih zrnaca u krvi i u organima i veoma brzo napredovanje.</p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><strong>Šta je leukemija</strong></p>
<p style="text-align: justify;">− Tačan uzrok nastanka leukemija je zasada nepoznat. Neki faktori kao što su jonizujuće zračenje, organski rastvarači, pesticidi, neki virusi i prethodna primena citostatika u lečenju drugih maligniteta mogu da oštete naš nasledni materijal, odnosno DNK i pokrenu nastanak leukemije. Akutne leukemije se mogu manifestovati nespecifično – visokom temperaturom, obilnim znojenjem i lošim opštim stanjem.</p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;">Leukemijske ćelije invazijom koštane srži potiskuju normalne elemente koštane srži što dovodi do anemije, infekcija i krvarenja. Kod nekih pacijenata javlja se uvećanje limfnih čvorova, jetre i slezine − objašnjav prof. dr Nada Suvajdžić Vuković, hematolog u Klinici za hematologiju Kliničkog centra Srbije.</p>]]></Value>
    </pageDetails>
    <pageTitle>
      <Value><![CDATA[O dobrovoljnom davanju trombocita i matičnih ćelija]]></Value>
    </pageTitle>
    <playStoreURL>
      <Value><![CDATA[]]></Value>
    </playStoreURL>
    <popupDonate>
      <Value><![CDATA[]]></Value>
    </popupDonate>
    <previewImage>
      <Value><![CDATA[umb://media/d35c128ed8494d94aba3a95faeaf8004]]></Value>
    </previewImage>
    <previewText>
      <Value><![CDATA[Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme transplantacije matičnih ćelija, koncerte i tribinu.]]></Value>
    </previewText>
    <relatedArticles>
      <Value><![CDATA[[
  {
    "key": "a358c282-4f7f-436f-a9ee-e19fce13b1b0",
    "name": "Item 1",
    "ncContentTypeAlias": "relatedArticles",
    "articles": "[{\"name\":\"First article\",\"udi\":\"umb://document/5a71985dd9da42b2a93cfed28a7f1047\"},{\"name\":\"Third Article\",\"udi\":\"umb://document/f5643cf517bc47d2b928062a2037ff26\"},{\"name\":\"Fourth Article\",\"udi\":\"umb://document/209bf970461045d5906b690231b6f803\"}]"
  }
]]]></Value>
    </relatedArticles>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <separator>
      <Value><![CDATA[]]></Value>
    </separator>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[]]></Value>
    </sitemapPriority>
    <tags>
      <Value><![CDATA[["saveti"]]]></Value>
    </tags>
    <thanksPopup>
      <Value><![CDATA[]]></Value>
    </thanksPopup>
    <twitterURL>
      <Value><![CDATA[]]></Value>
    </twitterURL>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>