<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ba9fbcf-044d-4180-8070-4f92316ef193" Alias="Fourth Article (1)" Level="3">
  <Info>
    <Parent Key="23d68428-f7b6-4b23-acfa-921d48b1f64b">Blogovi</Parent>
    <Path>/Home/Blogovi/FourthArticle1</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2022-11-03T13:44:31</CreateDate>
    <NodeName Default="Fourth Article (1)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9aa6c9c2-7986-492c-be75-1e474b926a91">Blog</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <appStoreURL>
      <Value><![CDATA[]]></Value>
    </appStoreURL>
    <authorDetails>
      <Value><![CDATA[]]></Value>
    </authorDetails>
    <canonicalLink>
      <Value><![CDATA[]]></Value>
    </canonicalLink>
    <contactEmail>
      <Value><![CDATA[]]></Value>
    </contactEmail>
    <copyrightText>
      <Value><![CDATA[]]></Value>
    </copyrightText>
    <donationButton>
      <Value><![CDATA[]]></Value>
    </donationButton>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <facebookURL>
      <Value><![CDATA[]]></Value>
    </facebookURL>
    <footerLinks>
      <Value><![CDATA[]]></Value>
    </footerLinks>
    <footerLogo>
      <Value><![CDATA[]]></Value>
    </footerLogo>
    <headlineInfo>
      <Value><![CDATA[]]></Value>
    </headlineInfo>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <instagramURL>
      <Value><![CDATA[]]></Value>
    </instagramURL>
    <links>
      <Value><![CDATA[]]></Value>
    </links>
    <logo>
      <Value><![CDATA[]]></Value>
    </logo>
    <mediaLinks>
      <Value><![CDATA[]]></Value>
    </mediaLinks>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageDetails>
      <Value><![CDATA[]]></Value>
    </pageDetails>
    <pageTitle>
      <Value><![CDATA[O dobrovoljnom davanju trombocita i matičnih ćelija]]></Value>
    </pageTitle>
    <playStoreURL>
      <Value><![CDATA[]]></Value>
    </playStoreURL>
    <popupDonate>
      <Value><![CDATA[]]></Value>
    </popupDonate>
    <previewImage>
      <Value><![CDATA[umb://media/f10edb63754d425e8b5db2ffeccd526f]]></Value>
    </previewImage>
    <previewText>
      <Value><![CDATA[us vitae san aliquam, nisl erat fringilla ante, at pretium ex urna id libero. Maecenas vel tempus turpis. Nullam sed quam enim. Aendsadasdadaean semper magna leo. Mauris consectetur, dui ut pretium sagittis, quam erat gravida nibh, et sodales mauris neque eu justo. Maecenas tincidunt tellus faucibus ligula semp]]></Value>
    </previewText>
    <relatedArticles>
      <Value><![CDATA[]]></Value>
    </relatedArticles>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <separator>
      <Value><![CDATA[]]></Value>
    </separator>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[]]></Value>
    </sitemapPriority>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <thanksPopup>
      <Value><![CDATA[]]></Value>
    </thanksPopup>
    <twitterURL>
      <Value><![CDATA[]]></Value>
    </twitterURL>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>