<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8c2d2ed-ae98-4282-8b0b-d6fa87fb8737" Alias="Kako pomoci" Level="2">
  <Info>
    <Parent Key="cd4ce923-4b40-4bd5-b0a1-1b8d41bb7262">Home</Parent>
    <Path>/Home/KakoPomoci</Path>
    <Trashed>false</Trashed>
    <ContentType>howToHelp</ContentType>
    <CreateDate>2022-10-15T12:08:23</CreateDate>
    <NodeName Default="Kako pomoci" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8187cf63-e6bb-48e5-b97a-30102a83beb6">HowToHelp</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <appPromo>
      <Value><![CDATA[[
  {
    "key": "d7e5cd9f-fc63-4ee9-b49c-2fec9272c53c",
    "name": "Item 1",
    "ncContentTypeAlias": "appPromotion",
    "PropType": null,
    "title": "Preuzmite mobilnu aplikaciju za davaoce trombocita",
    "androidAppLink": "[{\"name\":\"Andorid App\",\"target\":\"_blank\",\"url\":\"https://play.google.com/store/games\",\"queryString\":\"?hl=en&gl=US\"}]",
    "appleAppLink": "[{\"name\":\"Iphone App\",\"target\":\"_blank\",\"url\":\"https://www.apple.com/store\"}]",
    "description": "Udruženje pacijenata obolelih od akutne leukemije je napravilo aplikaciju pomoću koje mozete postati davalac trombocita.",
    "separator": "[\r\n  {\r\n    \"key\": \"988dbab1-3ad8-42f0-8e2f-a278c4b33a57\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"separator\",\r\n    \"PropType\": null,\r\n    \"variant\": \"White and Red\"\r\n  }\r\n]"
  }
]]]></Value>
    </appPromo>
    <appStoreURL>
      <Value><![CDATA[]]></Value>
    </appStoreURL>
    <canonicalLink>
      <Value><![CDATA[]]></Value>
    </canonicalLink>
    <contactEmail>
      <Value><![CDATA[leuka@email.com]]></Value>
    </contactEmail>
    <contactUs>
      <Value><![CDATA[[
  {
    "key": "d4bed439-7bd8-4356-8e2b-73b389e65e61",
    "name": "Item 1",
    "ncContentTypeAlias": "contactus",
    "PropType": null,
    "ContactToggle": "1",
    "backgroundColor": "Blue",
    "title": "Kontaktirajte nas!",
    "description": "Konačno, možda najvažniji efekat leukemije",
    "checkBoxLabel": "Želim da se priključim akcijama!",
    "buttonLabel": "Pošalji poruku"
  }
]]]></Value>
    </contactUs>
    <copyrightText>
      <Value><![CDATA[2022 Leuka]]></Value>
    </copyrightText>
    <donationButton>
      <Value><![CDATA[[
  {
    "key": "438e7a9e-d5e3-4246-ad9d-a24f92a8304f",
    "name": "Item 1",
    "ncContentTypeAlias": "button",
    "PropType": null,
    "linkTitle": "Doniraj!",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/cd4ce9234b404bd5b0a11b8d41bb7262\"}]",
    "buttonColor": "Green",
    "buttonStyle": "Regular"
  }
]]]></Value>
    </donationButton>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <facebookURL>
      <Value><![CDATA[[
  {
    "name": "Facebook",
    "url": "https://www.facebook.com/leuka.rs/"
  }
]]]></Value>
    </facebookURL>
    <footerLinks>
      <Value><![CDATA[[
  {
    "name": "Blog",
    "udi": "umb://document/23d68428f7b64b23acfa921d48b1f64b"
  },
  {
    "name": "Naši Pobednici",
    "udi": "umb://document/aa33fd89984d4828bfacdd3990a056d4"
  },
  {
    "name": "Kako pomoći?",
    "udi": "umb://document/e8c2d2edae9842828b0bd6fa87fb8737"
  },
  {
    "name": "Kontakt",
    "udi": "umb://document/8f17e8170ec44a94bacfc1d476e924a8"
  }
]]]></Value>
    </footerLinks>
    <footerLogo>
      <Value><![CDATA[umb://media/2bf607558ce8499984fa1973d2c0e217]]></Value>
    </footerLogo>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <howToHelpParticipate>
      <Value><![CDATA[[
  {
    "key": "cf9c4821-5793-4ca0-b236-f9c2459890e3",
    "name": "Item 1",
    "ncContentTypeAlias": "howToHelpParticipate",
    "PropType": null,
    "mainTitle": "Kako učestvovati u akcijama udruženja?",
    "mainDescription": "Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme transplantacije matičnih ćelija, koncerte i tribinu.",
    "subTitle": "Neki od načina na koje mozete da pomognete našem udruženju:",
    "subDescription": "Akcija obuhvata izložbu radova pacijentkinje",
    "checkboxText1": "Prenociste tokom terapije za leukemiju",
    "checkboxText2": "Pomoć u vidu transporta pacijenata na terapije",
    "checkboxText3": "Pružanje informacija, edukativni servis",
    "checkboxText4": "Prenociste tokom terapije za leukemiju",
    "checkboxText5": "Pomoć u vidu transporta pacijenata na terapije",
    "checkboxText6": "Pružanje informacija, edukativni servis",
    "button": "[\r\n  {\r\n    \"key\": \"149ed7cd-6671-45b7-85ee-a5c9e4eed079\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"button\",\r\n    \"PropType\": null,\r\n    \"linkTitle\": \"Kontaktirajte nas\",\r\n    \"link\": \"[{\\\"name\\\":\\\"#contact-us\\\",\\\"url\\\":\\\"\\\",\\\"queryString\\\":\\\"#contact-us\\\"}]\",\r\n    \"buttonColor\": \"\",\r\n    \"buttonStyle\": \"\"\r\n  }\r\n]"
  }
]]]></Value>
    </howToHelpParticipate>
    <howToJoin>
      <Value><![CDATA[[
  {
    "key": "daa2eba4-b0a2-4911-8e20-a63f817b7455",
    "name": "Item 1",
    "ncContentTypeAlias": "titleDescriptionAndButton",
    "PropType": null,
    "title": "Kako učestvovati u akcijama udruženja?",
    "description": "Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme transplantacije matičnih ćelija, koncerte i tribinu.",
    "button": null
  }
]]]></Value>
    </howToJoin>
    <instagramURL>
      <Value><![CDATA[[
  {
    "name": "Instagram",
    "url": "https://twitter.com/leuka20"
  }
]]]></Value>
    </instagramURL>
    <links>
      <Value><![CDATA[[
  {
    "name": "Kako pomoći?",
    "udi": "umb://document/e8c2d2edae9842828b0bd6fa87fb8737"
  },
  {
    "name": "Naši Pobednici",
    "udi": "umb://document/aa33fd89984d4828bfacdd3990a056d4"
  },
  {
    "name": "Blog",
    "udi": "umb://document/23d68428f7b64b23acfa921d48b1f64b"
  },
  {
    "name": "Pridruži nam se",
    "udi": "umb://document/933eba090a164d4db039dbde0e90cbfb"
  },
  {
    "name": "Kontakt",
    "udi": "umb://document/8f17e8170ec44a94bacfc1d476e924a8"
  }
]]]></Value>
    </links>
    <logo>
      <Value><![CDATA[umb://media/d11203c56dd34e748b3342b16f1bb63c]]></Value>
    </logo>
    <mediaLinks>
      <Value><![CDATA[[
  {
    "name": "Leuka danas u Užicu",
    "url": "https://www.danas.rs/vesti/drustvo/leuka-u-uzicu-trombociti-neophodni-obolelima-od-akutne-leukemije/"
  },
  {
    "name": "Udruženje Leuka: Srbiji treba 100.000 donatora koštane srži, a ima 8.500",
    "url": "https://rs.n1info.com/zdravlje/udruzenje-leuka-srbiji-treba-100-000-donatora-kostane-srzi-a-ima-8-500/"
  }
]]]></Value>
    </mediaLinks>
    <middleText>
      <Value><![CDATA[[
  {
    "key": "f5c4ca56-7ab1-42e7-a62b-07bfa140a038",
    "name": "Item 1",
    "ncContentTypeAlias": "mediumTextBlock",
    "PropType": null,
    "text": "Udruženje Leuka pomaže obolelima od akutnih leukemija, učestvuje u akcijama davanja krvi, prikupljanja trombocita za obolele i širenja baze donora matičnih ćelija za obolele kojima je potrebna transplantacija koštane srži.",
    "separator": "[\r\n  {\r\n    \"key\": \"7698916a-7bf4-4ee2-89a0-69775989b6a5\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"separator\",\r\n    \"PropType\": null,\r\n    \"variant\": \"Red and Blue\"\r\n  }\r\n]"
  }
]]]></Value>
    </middleText>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageTitle>
      <Value><![CDATA[Kako pomoci]]></Value>
    </pageTitle>
    <playStoreURL>
      <Value><![CDATA[]]></Value>
    </playStoreURL>
    <popupDonate>
      <Value><![CDATA[]]></Value>
    </popupDonate>
    <quote>
      <Value><![CDATA[[
  {
    "key": "06b3a0fd-effc-4e0b-95ff-f123deb1befb",
    "name": "Item 1",
    "ncContentTypeAlias": "quote",
    "PropType": null,
    "image": "umb://media/c77d213286d64867b36be172abef2d73",
    "jobTitle": "Predsednik udruženja Leuka",
    "quoteText": "Udruženje Leuka pomaže obolelima od akutnih leukemija, učestvuje u akcijama davanja krvi, prikupljanja trombocita za obolele i širenja baze donUdruženje Leuka pomaže obolelima od akutnih leukemija, učestvuje u akcijama davanja krvi, prikupljanja trombocita.ora matičnih ćelija za obolele kojima je potrebna transplantacija koštane srži.\n\nUdruženje Leuka pomaže obolelima od akutnih leukemija, učestvuje u akcijama davanja krvi, prikupljanja trombocita.",
    "quotatorName": "Predrag Slijepcevic",
    "separator": "[\r\n  {\r\n    \"key\": \"bddbedc7-e89f-484c-af2b-5bffa8cd93fb\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"separator\",\r\n    \"PropType\": null,\r\n    \"variant\": \"White and Red\"\r\n  }\r\n]"
  }
]]]></Value>
    </quote>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <separator>
      <Value><![CDATA[]]></Value>
    </separator>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[]]></Value>
    </sitemapPriority>
    <thanksPopup>
      <Value><![CDATA[]]></Value>
    </thanksPopup>
    <title>
      <Value><![CDATA[Kako pomoci]]></Value>
    </title>
    <topTextBlock>
      <Value><![CDATA[[
  {
    "key": "7f94991e-3bec-4fc8-911b-a311add2b38d",
    "name": "Item 1",
    "ncContentTypeAlias": "titleDescriptionAndButton",
    "PropType": null,
    "title": "Kako možete da se uključite?",
    "description": "Bela krvna zrnca (leukociti) su deo imunog sistema i lorem ipsum dolor sit amet.",
    "button": "[\r\n  {\r\n    \"key\": \"6cd9e4f3-de70-4e97-a148-6bb846ce8d1f\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"button\",\r\n    \"PropType\": null,\r\n    \"linkTitle\": \"Kontaktirajte nas\",\r\n    \"link\": \"[{\\\"name\\\":\\\"Kako pomoci\\\",\\\"udi\\\":\\\"umb://document/e8c2d2edae9842828b0bd6fa87fb8737\\\",\\\"queryString\\\":\\\"#contact-us\\\"}]\",\r\n    \"buttonColor\": \"Pink\",\r\n    \"buttonStyle\": \"Regular\"\r\n  }\r\n]"
  }
]]]></Value>
    </topTextBlock>
    <twitterURL>
      <Value><![CDATA[[
  {
    "name": "Twitter",
    "url": "https://twitter.com/leuka20"
  }
]]]></Value>
    </twitterURL>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>