<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f17e817-0ec4-4a94-bacf-c1d476e924a8" Alias="Kontakt" Level="2">
  <Info>
    <Parent Key="cd4ce923-4b40-4bd5-b0a1-1b8d41bb7262">Home</Parent>
    <Path>/Home/Kontakt</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2022-10-15T10:58:17</CreateDate>
    <NodeName Default="Kontakt" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a86bb622-f0fd-4fea-9341-3682324817ad">Contact</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <appPromotion>
      <Value><![CDATA[[
  {
    "key": "ab2cf65c-0691-4570-a166-a0649d34a587",
    "name": "Item 1",
    "ncContentTypeAlias": "appPromotion",
    "PropType": null,
    "title": "Preuzmite mobilnu aplikaciju za davaoce trombocita",
    "androidAppLink": "[{\"name\":\"Andorid App\",\"target\":\"_blank\",\"url\":\"https://play.google.com/store/games\",\"queryString\":\"?hl=en&gl=US\"}]",
    "appleAppLink": "[{\"name\":\"Iphone App\",\"target\":\"_blank\",\"url\":\"https://www.apple.com/store\"}]",
    "description": "Udruženje pacijenata obolelih od akutne leukemije je napravilo aplikaciju pomoću koje mozete postati davalac trombocita.",
    "separator": "[\r\n  {\r\n    \"key\": \"4a70c7d9-d1a5-46e8-ac65-0def750f4fb6\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"separator\",\r\n    \"PropType\": null,\r\n    \"variant\": \"White and Red\"\r\n  }\r\n]"
  }
]]]></Value>
    </appPromotion>
    <appStoreURL>
      <Value><![CDATA[]]></Value>
    </appStoreURL>
    <canonicalDomain>
      <Value><![CDATA[]]></Value>
    </canonicalDomain>
    <canonicalLink>
      <Value><![CDATA[]]></Value>
    </canonicalLink>
    <contactEmail>
      <Value><![CDATA[Contacting of emails]]></Value>
    </contactEmail>
    <contactUs>
      <Value><![CDATA[[
  {
    "key": "e05857c4-8502-4769-8dea-3ff1e5302ee5",
    "name": "Item 1",
    "ncContentTypeAlias": "contactus",
    "PropType": null,
    "ContactToggle": "0",
    "backgroundColor": "",
    "title": "Kontaktirajte nas!",
    "description": "Konačno, možda najvažniji efekat leukemije",
    "checkBoxLabel": "Želim da se priključim akcijama!",
    "buttonLabel": "Pošalji poruku"
  }
]]]></Value>
    </contactUs>
    <cookieScript>
      <Value><![CDATA[]]></Value>
    </cookieScript>
    <copyrightText>
      <Value><![CDATA[]]></Value>
    </copyrightText>
    <donationButton>
      <Value><![CDATA[]]></Value>
    </donationButton>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <facebookURL>
      <Value><![CDATA[]]></Value>
    </facebookURL>
    <footerLinks>
      <Value><![CDATA[]]></Value>
    </footerLinks>
    <footerLogo>
      <Value><![CDATA[]]></Value>
    </footerLogo>
    <googleAnalyticsScriptCode>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsScriptCode>
    <googleTagManagerNonScriptCode>
      <Value><![CDATA[]]></Value>
    </googleTagManagerNonScriptCode>
    <googleTagManagerScriptCode>
      <Value><![CDATA[]]></Value>
    </googleTagManagerScriptCode>
    <hideAllPagesFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideAllPagesFromSearchEngines>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <instagramURL>
      <Value><![CDATA[]]></Value>
    </instagramURL>
    <links>
      <Value><![CDATA[]]></Value>
    </links>
    <logo>
      <Value><![CDATA[]]></Value>
    </logo>
    <mediaLinks>
      <Value><![CDATA[]]></Value>
    </mediaLinks>
    <middleText>
      <Value><![CDATA[[
  {
    "key": "cf1f4fc8-0f29-48b2-a7a5-c32eae1fdc93",
    "name": "Item 1",
    "ncContentTypeAlias": "mediumTextBlock",
    "PropType": null,
    "text": "Udruženje Leuka pomaže obolelima od akutnih leukemija, učestvuje u akcijama davanja krvi, prikupljanja trombocita za obolele i širenja baze donora matičnih ćelija za obolele kojima je potrebna transplantacija koštane srži.",
    "separator": "[\r\n  {\r\n    \"key\": \"38ba42d7-0b4b-4be0-9623-8790a228c8a5\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"separator\",\r\n    \"PropType\": null,\r\n    \"variant\": \"Red and Blue\"\r\n  }\r\n]"
  }
]]]></Value>
    </middleText>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
    <playStoreURL>
      <Value><![CDATA[]]></Value>
    </playStoreURL>
    <popupDonate>
      <Value><![CDATA[]]></Value>
    </popupDonate>
    <port>
      <Value><![CDATA[]]></Value>
    </port>
    <quote>
      <Value><![CDATA[[
  {
    "key": "c255e73b-4b7f-45f7-9a17-70c9a2120d60",
    "name": "Item 1",
    "ncContentTypeAlias": "quote",
    "PropType": null,
    "image": "umb://media/c77d213286d64867b36be172abef2d73",
    "jobTitle": "Predsednik udruženja Leuka",
    "quoteText": "Udruženje Leuka pomaže obolelima od akutnih leukemija, učestvuje u akcijama davanja krvi, prikupljanja trombocita za obolele i širenja baze donUdruženje Leuka pomaže obolelima od akutnih leukemija, učestvuje u akcijama davanja krvi, prikupljanja trombocita.ora matičnih ćelija za obolele kojima je potrebna transplantacija koštane srži.\n\nUdruženje Leuka pomaže obolelima od akutnih leukemija, učestvuje u akcijama davanja krvi, prikupljanja trombocita.",
    "quotatorName": "Predrag Slijepcevic",
    "separator": "[\r\n  {\r\n    \"key\": \"877cb5e6-d8bc-48a9-97f4-ff0657e1f225\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"separator\",\r\n    \"PropType\": null,\r\n    \"variant\": \"White and Red\"\r\n  }\r\n]"
  }
]]]></Value>
    </quote>
    <receiverEmailAddress>
      <Value><![CDATA[]]></Value>
    </receiverEmailAddress>
    <robots>
      <Value><![CDATA[]]></Value>
    </robots>
    <senderEmailAddress>
      <Value><![CDATA[]]></Value>
    </senderEmailAddress>
    <senderEmailPassword>
      <Value><![CDATA[]]></Value>
    </senderEmailPassword>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <separator>
      <Value><![CDATA[[
  {
    "key": "6cb86594-041c-486d-b768-966850656b6d",
    "name": "Item 1",
    "ncContentTypeAlias": "separator",
    "PropType": null,
    "variant": "White and Red"
  },
  {
    "key": "6003856e-481d-4422-bd78-e646d3674009",
    "name": "Item 2",
    "ncContentTypeAlias": "separator",
    "PropType": null,
    "variant": "White and Red"
  }
]]]></Value>
    </separator>
    <serverAddress>
      <Value><![CDATA[]]></Value>
    </serverAddress>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[]]></Value>
    </sitemapPriority>
    <siteName>
      <Value><![CDATA[]]></Value>
    </siteName>
    <thanksPopup>
      <Value><![CDATA[]]></Value>
    </thanksPopup>
    <topTextBlock>
      <Value><![CDATA[[
  {
    "key": "bd7040b9-7ab6-4efd-a6bf-956d1cfe7759",
    "name": "Item 1",
    "ncContentTypeAlias": "titleDescriptionAndButton",
    "PropType": null,
    "title": "Kako možete da se uključite?",
    "description": "Bela krvna zrnca (leukociti) su deo imunog sistema i lorem ipsum dolor sit amet.",
    "button": "[\r\n  {\r\n    \"key\": \"93b3e20e-c88a-46e6-ba04-43f64f1122cf\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"button\",\r\n    \"PropType\": null,\r\n    \"linkTitle\": \"Kontaktirajte nas\",\r\n    \"link\": \"[{\\\"name\\\":\\\"Kako pomoci\\\",\\\"udi\\\":\\\"umb://document/e8c2d2edae9842828b0bd6fa87fb8737\\\",\\\"queryString\\\":\\\"#contact-us\\\"}]\",\r\n    \"buttonColor\": \"Pink\",\r\n    \"buttonStyle\": \"Regular\"\r\n  }\r\n]"
  }
]]]></Value>
    </topTextBlock>
    <twitterURL>
      <Value><![CDATA[]]></Value>
    </twitterURL>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>