<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa33fd89-984d-4828-bfac-dd3990a056d4" Alias="Nasi pobednici" Level="2">
  <Info>
    <Parent Key="cd4ce923-4b40-4bd5-b0a1-1b8d41bb7262">Home</Parent>
    <Path>/Home/NasiPobednici</Path>
    <Trashed>false</Trashed>
    <ContentType>nasiPobednici</ContentType>
    <CreateDate>2022-10-15T12:25:50</CreateDate>
    <NodeName Default="Nasi pobednici" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b4bde216-fcee-423c-aabc-a543b4b07481">NasiPobednici</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <appStoreURL>
      <Value><![CDATA[]]></Value>
    </appStoreURL>
    <blogsGrid>
      <Value><![CDATA[[
  {
    "key": "11df0207-05fc-4412-ad20-0a04af49e39c",
    "name": "Item 1",
    "ncContentTypeAlias": "blockGrid",
    "PropType": null,
    "title": "Naši pobednici"
  }
]]]></Value>
    </blogsGrid>
    <blogSignUp>
      <Value><![CDATA[[
  {
    "key": "ac04ec16-3f77-47d5-bd33-b9188a262241",
    "name": "Item 1",
    "ncContentTypeAlias": "blogSignUp",
    "PropType": null,
    "backgroundColor": "Blue"
  }
]]]></Value>
    </blogSignUp>
    <canonicalLink>
      <Value><![CDATA[]]></Value>
    </canonicalLink>
    <contactEmail>
      <Value><![CDATA[]]></Value>
    </contactEmail>
    <copyrightText>
      <Value><![CDATA[]]></Value>
    </copyrightText>
    <donationButton>
      <Value><![CDATA[]]></Value>
    </donationButton>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <facebookURL>
      <Value><![CDATA[]]></Value>
    </facebookURL>
    <footerLinks>
      <Value><![CDATA[]]></Value>
    </footerLinks>
    <footerLogo>
      <Value><![CDATA[]]></Value>
    </footerLogo>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <highlightedArticle>
      <Value><![CDATA[[
  {
    "key": "9f759046-7919-4149-ac58-36f4b1b748e9",
    "name": "Item 1",
    "ncContentTypeAlias": "highlightedArticle",
    "PropType": null,
    "highlightTitle": "Izdvajamo",
    "image": "umb://media/2bc07f5c4b4b4fae849ea69e502ec190",
    "category": "Priče",
    "title": "O borbi protiv leukemije godinu i po dana posle izlečenja ",
    "description": "Sportski novinar iz Niša Aleksandar Nikolić posle transplantacije matičnih ćelija koštane srži imunitet gradi od nule, pa je na oprez, na kakav je zbog pandemije sada prinuđen ceo svet, već navikao.",
    "linkButton": "[\r\n  {\r\n    \"key\": \"33f91e8e-f3e6-4029-aee9-f48c4f0f50c3\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"button\",\r\n    \"PropType\": null,\r\n    \"linkTitle\": \"Pročitaj Više\",\r\n    \"link\": \"[{\\\"name\\\":\\\"Saznaj vise\\\",\\\"url\\\":\\\"https://start.vegait.rs/\\\"}]\",\r\n    \"buttonColor\": \"Blue\",\r\n    \"buttonStyle\": \"Link\"\r\n  }\r\n]",
    "separator": "[\r\n  {\r\n    \"key\": \"50f66300-554b-4455-83f2-6413f1a6fc17\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"separator\",\r\n    \"PropType\": null,\r\n    \"variant\": \"Red and Blue\"\r\n  }\r\n]"
  }
]]]></Value>
    </highlightedArticle>
    <instagramURL>
      <Value><![CDATA[]]></Value>
    </instagramURL>
    <links>
      <Value><![CDATA[]]></Value>
    </links>
    <logo>
      <Value><![CDATA[]]></Value>
    </logo>
    <mediaLinks>
      <Value><![CDATA[]]></Value>
    </mediaLinks>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageTitle>
      <Value><![CDATA[Naši pobednici]]></Value>
    </pageTitle>
    <playStoreURL>
      <Value><![CDATA[]]></Value>
    </playStoreURL>
    <popupDonate>
      <Value><![CDATA[]]></Value>
    </popupDonate>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <separator>
      <Value><![CDATA[]]></Value>
    </separator>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[]]></Value>
    </sitemapPriority>
    <thanksPopup>
      <Value><![CDATA[]]></Value>
    </thanksPopup>
    <title>
      <Value><![CDATA[Naši pobednici]]></Value>
    </title>
    <titleDescriptionAndButton>
      <Value><![CDATA[[
  {
    "key": "6390c11c-80a1-443e-a329-124a3a9c8471",
    "name": "Item 1",
    "ncContentTypeAlias": "titleDescriptionAndButton",
    "PropType": null,
    "title": "Leukemija - Budi zdrav, produži život. ",
    "description": "Na našem blogu mozete pronaći pregršt informacija vezanih za leukemiju",
    "button": null
  }
]]]></Value>
    </titleDescriptionAndButton>
    <twitterURL>
      <Value><![CDATA[]]></Value>
    </twitterURL>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>