<?xml version="1.0" encoding="utf-8"?>
<Content Key="933eba09-0a16-4d4d-b039-dbde0e90cbfb" Alias="Pridruzi nam se" Level="2">
  <Info>
    <Parent Key="cd4ce923-4b40-4bd5-b0a1-1b8d41bb7262">Home</Parent>
    <Path>/Home/PridruziNamSe</Path>
    <Trashed>false</Trashed>
    <ContentType>joinUs</ContentType>
    <CreateDate>2022-10-15T11:44:07</CreateDate>
    <NodeName Default="Pridruzi nam se" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0a64c8ad-ca69-43e3-84d9-c019bf5b0979">JoinUs</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <appStoreURL>
      <Value><![CDATA[]]></Value>
    </appStoreURL>
    <canonicalLink>
      <Value><![CDATA[]]></Value>
    </canonicalLink>
    <contactEmail>
      <Value><![CDATA[]]></Value>
    </contactEmail>
    <contactUs>
      <Value><![CDATA[[
  {
    "key": "498fb087-7ac6-4781-8354-5b2f7ec7ca61",
    "name": "Item 1",
    "ncContentTypeAlias": "contactus",
    "PropType": null,
    "ContactToggle": "1",
    "backgroundColor": "Blue",
    "title": "Postanite autor na Leuka blogu!",
    "description": "Predstavite se, podelite sa nama svoje iskustvo sa leukemijom",
    "checkBoxLabel": "Želim da se priključim akcijama!",
    "buttonLabel": "Pošalji poruku"
  }
]]]></Value>
    </contactUs>
    <copyrightText>
      <Value><![CDATA[]]></Value>
    </copyrightText>
    <donationButton>
      <Value><![CDATA[]]></Value>
    </donationButton>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <facebookURL>
      <Value><![CDATA[]]></Value>
    </facebookURL>
    <footerLinks>
      <Value><![CDATA[]]></Value>
    </footerLinks>
    <footerLogo>
      <Value><![CDATA[]]></Value>
    </footerLogo>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <instagramURL>
      <Value><![CDATA[]]></Value>
    </instagramURL>
    <links>
      <Value><![CDATA[]]></Value>
    </links>
    <logo>
      <Value><![CDATA[]]></Value>
    </logo>
    <mediaLinks>
      <Value><![CDATA[]]></Value>
    </mediaLinks>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <organizationInfoBanner>
      <Value><![CDATA[[
  {
    "key": "d536661d-efbd-4cc6-94dd-e51e642718d8",
    "name": "Item 1",
    "ncContentTypeAlias": "organizationInfoBanner",
    "PropType": null,
    "title": "Udruženje Leuka pomaže obolelima od akutnih leukemija, učestvuje u akcijama davanja krvi, prikupljanja trombocita za obolele i širenja baze donora matičnih ćelija za obolele.",
    "description": "Udruženje Leuka pomaže obolelima od akutnih leukemija, učestvuje u akcijama davanja krvi, prikupljanja trombocita za",
    "button": "[\r\n  {\r\n    \"key\": \"94fa64a9-4cce-4176-aa5a-4e0a62803aa3\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"button\",\r\n    \"PropType\": null,\r\n    \"linkTitle\": \"Pridruži se\",\r\n    \"link\": \"[{\\\"name\\\":\\\"Pridruzi nam se\\\",\\\"udi\\\":\\\"umb://document/933eba090a164d4db039dbde0e90cbfb\\\",\\\"queryString\\\":\\\"#contact-us\\\"}]\",\r\n    \"buttonColor\": \"Blue\",\r\n    \"buttonStyle\": \"Link\"\r\n  }\r\n]",
    "separator": "[\r\n  {\r\n    \"key\": \"b904dc88-1998-4799-a473-60d55272c259\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"separator\",\r\n    \"PropType\": null,\r\n    \"variant\": \"White and Red\"\r\n  }\r\n]"
  }
]]]></Value>
    </organizationInfoBanner>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <playStoreURL>
      <Value><![CDATA[]]></Value>
    </playStoreURL>
    <popupDonate>
      <Value><![CDATA[]]></Value>
    </popupDonate>
    <preContactField>
      <Value><![CDATA[[
  {
    "key": "83b8d69c-dedc-40dd-b700-66dfad002e21",
    "name": "Item 1",
    "ncContentTypeAlias": "joinUsPreContactPage",
    "PropType": null,
    "title": "Naše članarine",
    "description": "Konačno, možda najvažniji efekat leukemije",
    "firstFieldTitle": "Godisnja članarina",
    "firstFieldDescription": "Članovi koji žele da im poslodavac plati članarinu (grupno ili pojedinačno članstvo), se mole da popune formu na dnu strane sa podacima neophodnim za kreiranje predračuna. Ukoliko iz iste orgaizacije postoji više lica za koje se plaća članarina dovoljno je da se podnese samo jedan zahtev sa nazanakom za koliko lica se uplaćuje.",
    "secondFieldTitle": "Članarina preko Vaše organizacije",
    "secondFieldDescription": "Članovi koji žele da im poslodavac plati članarinu (grupno ili pojedinačno članstvo), se mole da popune formu na dnu strane sa podacima neophodnim za kreiranje predračuna. Ukoliko iz iste orgaizacije postoji više lica za koje se plaća članarina dovoljno je da se podnese samo jedan zahtev sa nazanakom za koliko lica se uplaćuje.",
    "thirdFieldTitle": "Samostalno placanje članarine",
    "thridFieldDescription": "Članarina se plaća u dinarima. Uplata se vrši na tekući  račun  Udruženja  internih revizora  Srbije,  broj  160-306456-74,  Banca Intesa  Beograd. Prilikom  uplate  u  polju  „svrha  plaćanja“  obavezno  navesti „članarina za 202    godinu“. U pozivu na broj navesti GAN broj (ID Broj kod Global IIA) ili članski broj UIRS (važi za uplate fizičkih lica).",
    "button": "[\r\n  {\r\n    \"key\": \"d2ee4968-a67a-41cf-8882-b88e23f203c9\",\r\n    \"name\": \"Item 1\",\r\n    \"ncContentTypeAlias\": \"button\",\r\n    \"PropType\": null,\r\n    \"linkTitle\": \"Kontaktiraj nas\",\r\n    \"link\": \"[{\\\"name\\\":\\\"#app-promotion\\\",\\\"url\\\":\\\"\\\",\\\"queryString\\\":\\\"#contact-us\\\"}]\",\r\n    \"buttonColor\": \"Blue\",\r\n    \"buttonStyle\": \"Regular\"\r\n  }\r\n]"
  }
]]]></Value>
    </preContactField>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <separator>
      <Value><![CDATA[]]></Value>
    </separator>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[]]></Value>
    </sitemapPriority>
    <thanksPopup>
      <Value><![CDATA[]]></Value>
    </thanksPopup>
    <title>
      <Value><![CDATA[JoinUs Page]]></Value>
    </title>
    <topTextBlock>
      <Value><![CDATA[[
  {
    "key": "62aff4ba-374a-42b0-9c88-79c418d1bb01",
    "name": "Item 1",
    "ncContentTypeAlias": "titleDescriptionAndButton",
    "PropType": null,
    "title": "Postani deo Leuke",
    "description": "Bela krvna zrnca (leukociti) su deo imunog sistema i lorem ipsum dolor sit amet.",
    "button": null
  }
]]]></Value>
    </topTextBlock>
    <twitterURL>
      <Value><![CDATA[]]></Value>
    </twitterURL>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>