<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8" />

<div class="quotes-wrapper">
    <div class="columns">
        <div class="column-left">
            <div class="image-wrapper">
                <img src="../assets/images/istockphoto-646350998-1024x1024 7.png" class="round-image" />
            </div>
            <div class="column-person-info-right">
                <label class="name-text">Predrag Slijepčević</label> <br/>
                <label class="position-text">Predsednik udruženja <span class="bold">Leuka</span></label>
            </div>
        </div>
        <div class="column-right">
            <span>
                Udruženje Leuka pomaže obolelima od akutnih leukemija, učestvuje u akcijama davanja krvi, prikupljanja
                trombocita za obolele i širenja baze donora matičnih ćelija za obolele kojima je potrebna
                transplantacija koštane srži.
                <br /><br />
                Udruženje Leuka pomaže obolelima od akutnih leukemija, učestvuje u akcijama davanja krvi, prikupljanja
                trombocita.
            </span>
        </div>
    </div>
</div>