<div class="angel-section">
  <div class="container">
    <div class="heading">
      <div class="angel-img">
        <img src="images/angel.svg" alt="" />
      </div>
      <h3>
        Udruženje Leuka pomaže obolelima od akutnih leukemija, učestvuje u
        akcijama davanja krvi, prikupljanja trombocita za obolele i širenja baze
        donora matičnih ćelija za obolele.
      </h3>
    </div>

    <div class="description">
      <p>
        Udruženje Leuka pomaže obolelima od akutnih leukemija, učestvuje u
        akcijama davanja krvi, prikupljanja trombocita za
      </p>
    </div>
    <a href="#" class="heading-button">Pročitaj više</a>
  </div>
</div>
