@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.GalleryViewModel>

<div class="gallery">
    @foreach (var row in Model.GalleryRows)
    {
        Html.RenderPartial(row.PartialViewPath, row);
    }
</div>
