@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.OrganizationInfoBannerViewModel>

@if (Model.Separator != null)
{
    Html.RenderPartial(Model.Separator.PartialViewPath, Model.Separator);
}
@*<div class="voluntary-donation page-content-block @Model.ComponentClass">
    <div class="voluntary-donation-container">
        @if (Model.Alignment == "Left")
        {
            Html.RenderPartial("~/Views/Partials/NestedContent/_SplitBlockImageContent.cshtml", Model);
            Html.RenderPartial("~/Views/Partials/NestedContent/_SplitBlockTextContent.cshtml", Model);
        }
        else
        {
            Html.RenderPartial("~/Views/Partials/NestedContent/_SplitBlockTextContent.cshtml", Model);
            Html.RenderPartial("~/Views/Partials/NestedContent/_SplitBlockImageContent.cshtml", Model);
        }
    </div>
</div>*@