@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.QuoteViewModel>

@if (Model.Separator != null)
{
    Html.RenderPartial(Model.Separator.PartialViewPath, Model.Separator);
}
<div class="quotes-wrapper">
    <div class="columns">
        <div class="column-left">
            <div class="image-wrapper">
                <img src="@Model.Image.Url" class="round-image" />
            </div>
            <div class="column-person-info-right">
                <label class="name-text">@Model.Name</label> <br />
                <label class="position-text">@Model.JobTitle</label>
            </div>
        </div>
        <div class="column-right">
            <span>
                @Model.Text
            </span>
        </div>
    </div>
</div>