@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.SeparatorViewModel>

<div class="curved-line @Model.SeparatorClass">
    <svg class="curved-line-default"
         width="100%"
         viewBox="0 0 1440 103"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M0 27C80.0328 27 80.0328 76 160.066 76C240.098 76 240.098 27 319.984 27C400.016 27 400.016 76 480.049 76C560.082 76 560.082 27 640.115 27C720.147 27 720.147 76 800.18 76C879.918 76 879.918 27 959.951 27C1039.98 27 1039.98 76 1120.02 76C1200.05 76 1200.05 27 1280.08 27C1360.11 27 1359.97 76 1440 76"
              stroke="url(#curved-line-definition)"
              stroke-width="53"
              stroke-miterlimit="10" />
        <defs>
            <linearGradient id="curved-line-definition"
                            x1="1545.5"
                            y1="26.5001"
                            x2="-34"
                            y2="26.5006"
                            gradientUnits="userSpaceOnUse">
                <stop class="start-color" />
                <stop class="stop-color" offset="1" />
            </linearGradient>
        </defs>
    </svg>

    <svg class="curved-line-small"
         width="100%"
         viewBox="1100 0 1440 329"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M0 27C80.0328 27 80.0328 76 160.066 76C240.098 76 240.098 27 319.984 27C400.016 27 400.016 76 480.049 76C560.082 76 560.082 27 640.115 27C720.147 27 720.147 76 800.18 76C879.918 76 879.918 27 959.951 27C1039.98 27 1039.98 76 1120.02 76C1200.05 76 1200.05 27 1280.08 27C1360.11 27 1359.97 76 1440 76"
              stroke="url(#curved-line-small-definition)"
              stroke-width="53"
              stroke-miterlimit="10" />
        <defs>
            <linearGradient id="curved-line-small-definition"
                            x1="1545.5"
                            y1="26.5001"
                            x2="-34"
                            y2="26.5006"
                            gradientUnits="userSpaceOnUse">
                <stop class="start-color" />
                <stop class="stop-color" offset="1" />
            </linearGradient>
        </defs>
    </svg>
</div>