@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.SplitBlockViewModel>

<div class="voluntary-donation">
    <div class="voluntary-donation-container">
        @if (Model.Alignment == "Left")
        {
            Html.RenderPartial("~/Views/Partials/NestedContent/_SplitBlockImageContent.cshtml", Model);
            Html.RenderPartial("~/Views/Partials/NestedContent/_SplitBlockTextContent.cshtml", Model);
        }
        else
        {
            Html.RenderPartial("~/Views/Partials/NestedContent/_SplitBlockTextContent.cshtml", Model);
            Html.RenderPartial("~/Views/Partials/NestedContent/_SplitBlockImageContent.cshtml", Model);
        }
    </div>
</div>