@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.SponsorsViewModel>

<section class="friends">
    <h3 class="friends-title">@Model.Title</h3>
    <p class="friends-description">
        @Model.Description
    </p>
    <div class="partners-list">
        @foreach (var image in Model.Images)
        {
            <div class="partner-container">
                <img src="@image.Url">
            </div>
        }
    </div>
</section>