@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.TitleDescriptionAndButtonViewModel>
<div class="homepage-header">
    <div class="container">
        <div class="heading">
            <h1>@Model.Title</h1>
        </div>

        <div class="description">
            <p> 
                @Model.Description
            </p>
        </div>
        @if (Model.Button != null)
        {
            Html.RenderPartial(Model.Button.PartialViewPath, Model.Button);
        }
    </div>
</div>
