@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/common.scss';

.donate-information-background {
  background-color: $color-white;
  border-radius: 15px;
}

.donate-information-wrapper {
  width: 678px;
  position: relative;
  border-radius: 15px;
  background-color: $color-white;
  text-align: center;
  background: linear-gradient(180deg, rgba(126, 214, 210, 0.2) 0%, rgba(66, 133, 244, 0.2) 60.89%, rgba(218, 237, 248, 0.2) 100%);
  padding-top: 1px;
}

.donate-information-halo-icon {
  margin-top: 90px;
}

.donate-information-title {
  color: $color-blue;
  font-weight: 600;
  font-size: 40px;
  line-height: 37px;
  font-family: $text-font;
  margin-top: 10px;
}

.donate-information-subtitle {
  color: $color-blue;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.5;
  margin-top: 13px;
}

.donate-informations-wrapper {
  display: flex;
  flex-direction: column;
  margin: 70px auto 0;
}

.donate-information-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $color-blue;
  width: 379px;
  margin: 20px auto 0;
}

.donate-information-cell {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.donate-information-label {
  color: $color-blue;
  font-size: 12px;
  line-height: 19px;
  font-family: $text-font;
  font-weight: 500;
}

.donate-information-value {
  color: $color-blue;
  font-size: 14px;
  line-height: 23px;
  font-family: $text-font;
  font-weight: 600;
  margin-bottom: 5px;
}

.donate-information-button {
  margin: 106px auto 0;
  width: 379px;
  color: $color-blue;
  background-color: $color-white;
}

.donate-information-bottom-text {
  color: $color-cornflower-blue;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400px;
  font-family: $text-font;
  margin: 18px auto 100px;
  width: 379px;
}

@media screen and (max-width: 768px) {
  .donate-information-background {
    border-radius: 0px;
    width: 100vw;
    height: fit-content;
  }

  .donate-information-wrapper {
    width: 100vw;
    height: fit-content;
    border-radius: 0px;
    text-align: center;
    justify-content: center;
  }

  .donate-information-halo-icon {
    width: 67px;
  }

  .donate-information-title {
    width: 360px;
    margin: 0 auto;
  }

  .donate-information-subtitle {
    font-size: 18px;
    line-height: 24px;
    opacity: 0.5;
    margin: 18px auto 0;
    width: 345px;
  }

  .donate-information-row {
    margin: 7px auto;
    width: 345px;
  }

  .donate-information-cell {
    margin: 0 auto;
  }

  .donate-information-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    width: 345px;
  }

  .donate-information-bottom-text {
    margin: 23px auto 100;
    width: 345px;
  }
}