.header-container-main {
	width: 100%;
	background-color: #03178F;
	height: 175px;

    
	@media only screen and (max-width: 900px) {
		height: 135px;
	}
}

.header-main-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1205px;
	height: 84px;
	margin: auto;
	position: relative;
}

.nav-container {
	display: none;

	@media only screen and (min-width: 900px) {
		display: flex;
		padding-right: 26px;

		.doniraj-button {
			display: flex;
			align-items: center;
			color: white
		}
	}
}

.header-nav-list {
	display: flex;

	&>li {
        text-align: center;
		padding: 16px 10px;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: -0.025em;
		color: #FFFFFF;
		cursor: pointer;
		margin-right: 10px;
	}
}

#hamburger-icon {
	cursor: pointer;
	margin: 46px;

	@media only screen and (min-width: 900px) {
		display: none;
	}
}

.hideMobileMenu {
	display: none;
}

.mobile-menu-expanded {
	width: 100%;
    height: 940px;
   
	max-height: 700px;
	background: linear-gradient(180deg, rgba(126, 214, 210, 0.2) 0%, rgba(66, 133, 244, 0.2) 60.89%, rgba(218, 237, 248, 0.2) 100%), #FFFFFF;
	z-index: 99999;
	position: absolute;
	top: 0;
	left: 0;


	.mm-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 40px 30px;
	}

}

.closeMobileMenuButton {
	cursor: pointer;
}

.expandedMobileMenuItems {

	li {
        margin: 0 auto;
        width: 356px;
        margin-top: 30px;
		border-bottom: 1px solid rgb(3, 23, 143, 0.2);
		padding-bottom: 15px;
		font-weight: 400;
		font-size: 26px;
		line-height: 93.6%;
		text-align: center;
		letter-spacing: -0.025em;
		color: #03178F;
        cursor: pointer;
	}

}

.socials {
    display: flex;
    justify-content: center;
    width: 356px;
    margin: 20px auto 56px;

    .socials-container {
        display: flex;
        justify-content: center;
        gap: 22px;

        a {
            cursor: pointer;
        } 
    }
}

.vector-scale {
    height: 100%;
    display: flex;


    svg {
        position: absolute;
        &:nth-child(2) {    
            transform: translateY(10px);
        }
    }
}

.donateForMobile {

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
