<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8" />

<header class="header header-open" id="header">
    <div class="header-wrapper" id="header-wrapper">
        <div class="images">
            <img src="../assets/images/logo-transparent-1.svg" />
            <img src="../assets/images/logo-transparent-2.png" alt="Leuka"/>
        </div>
        <button class="hamburger-icon" id="hamburger-icon" onclick="myFunction()">
            <img src="../assets/images/hamburger.svg" id="hamburger-icon-img"/>
        </button>
        <div class="hamburger">
            <div class="header-buttons">
                    <a href="#" class="nav-item">O nama</a>
                    <hr class="horisontal-line">
                    <a href="#" class="nav-item">Kako pomoći?</a>
                    <hr class="horisontal-line">
                    <a href="#" class="nav-item">Naši pobednici</a>
                    <hr class="horisontal-line">
                    <a href="#" class="nav-item">Blog</a>
                    <hr class="horisontal-line">
                    <a href="#" class="nav-item">Pridruži nam se</a>
                    <hr class="horisontal-line">
                    <a href="#" class="nav-item">Kontakt</a>
                    <hr class="horisontal-line">
                <button class="donate-button">Doniraj!</button>
            </div>
        </div>
        <div class="media-icons">
            <a href="#"><img src="../assets/images/Facebook-header.svg"/></a>
            <a href="#"><img src="../assets/images/Twitter-header.svg"/></a>
            <a href="#"><img src="../assets/images/Instagram-header.svg"/></a>
        </div>
    </div>
    
    <div class="vector-scale">
        <img src="../assets/images/Vector-header.svg" class="img-vector"/>
        <img src="../assets/images/Vector-header-2.svg" class="img-vector-second"/>
    </div>
</header>
<script>
    function myFunction() {
        var header =  document.getElementById("header")
        if ( !header.classList.contains('header-open') ) {
             header.classList.add('header-open')
             document.getElementById('hamburger-icon-img').src = '../assets/images/hamburger-x.svg'
             document.getElementById('hamburger-icon-img').style.marginLeft = '2.2em';
        } else {
            header.classList.remove('header-open')
            document.getElementById('hamburger-icon-img').src = '../assets/images/hamburger.svg'
        }
    }
</script>
