@import "../../assets/styles/breakpoints.scss";

.curved-line {
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    z-index: 50;
    position: relative;

    .curved-line-default {
        @include phone {
            display: none;
        }
    }

    .curved-line-small {
        display: none;

        @include phone {
            display: block;
        }

        @include phone {
            path {
                transform: scale(3.2);
            }
        }
    }

    .start-color {
        stop-color: #45A4DC;
    }

    .stop-color {
        stop-color: #E23F72;
    }

    &-orange-light {
        .start-color {
            stop-color: #DB3328;
        }

        .stop-color {
            stop-color: #FED4BC;
        }
    }

    &-orange {
        @extend .curved-line-orange-light;

        @include phone {
            left: 0% !important;
        }
    }

    &-pink {
        .start-color {
            stop-color: #E23F72;
        }

        .stop-color {
            stop-color: #DAEDF8;
        }
    }
}