<div class="voluntary-donation bg-lighblue">
  <div class="voluntary-donation-container">
    <div class="voluntary-donation-content">
      <div class="tag">
        <p>#dobrotaleči</p>
      </div>
      <div class="voluntary-donation-text">
        <h3>O dobrovoljnom davanju trombocita i matičnih ćelija</h3>
        <p>
          Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
          transplantacije matičnih ćelija, koncerte i tribinu.
        </p>
        <div class="buttons">
          <a href="#" class="button">Saznaj više</a>
          <a href="#" class="button button-link">Priključi se akciji!</a>
        </div>
      </div>
    </div>
    <div class="voluntary-donation-image">
      <img
        src="../images/voluntary-donation-one.png"
        alt="Voluntary Donation"
      />
    </div>
  </div>
</div>
