.voluntary-donation {
  font-family: Poppins;
  padding: 30px;
  overflow-wrap: break-word;

  .tag {
    margin-top: 60px;
    display: inline-block;
    transform: rotate(2.96deg);

    p {
      background-color: #e23f72;
      padding: 5px 12px;
      border-radius: 4px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #fff;
    }
  }

  &-text {
    margin-top: 25px;

    h3 {
      font-size: 40px;
      color: #03178f;
      font-weight: 600;
    }

    p {
      margin-top: 29px;
      color: #1e407c;
      font-size: 20px;
    }
  }

  .voluntary-donation-image {
    margin-top: 33px;

    img {
      width: 100%;
      max-height: 100%;
    }
  }

  @media (min-width: 768px) {
    padding: 82px;

    .voluntary-donation-container {
      display: flex;
      max-width: 1235px;
      margin: 0 auto;

      .voluntary-donation-content {
        width: 50%;
        padding: 0 15px;

        .tag {
          p {
            background-color: #45a4dc;
          }
        }
      }

      .voluntary-donation-image {
        display: flex;
        align-items: center;
        width: 50%;
        padding: 0 15px;
      }
    }
  }

  @media (min-width: 1200px) {
    .voluntary-donation-container {

      .voluntary-donation-content,
      .voluntary-donation-image {
        padding: 0 50px;
      }
    }
  }

  &.bg-lighblue {
    background-color: #dbe7fc;
  }
  
  &.bg-white {
    background-color: #fff;
  }
}

