<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3fd98009-9c12-435e-8fb7-ba3570eee760" Alias="aboutUs" Level="2">
  <Info>
    <Name>AboutUs</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e5f0baaa-5b4f-4f75-8fe1-d94caa6c2e4c">footer</Composition>
      <Composition Key="928ec902-390d-4707-9ae4-2efdf1c8c592">header</Composition>
      <Composition Key="0310e315-8872-4731-b3b7-73ecce998698">page</Composition>
      <Composition Key="e3283d13-1887-47a7-bfb0-3eb39ed74145">siteSettings</Composition>
    </Compositions>
    <DefaultTemplate>AboutUs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="61be0570-f524-4bae-80bb-4112894ad0c0">AboutUs</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a8e73900-298c-4879-8ecb-56685fa2cfa2</Key>
      <Name>Buttons</Name>
      <Alias>buttons</Alias>
      <Definition>075a5c24-a9e3-4de5-b9a0-a117a7d54c0d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8e44db3c-5234-4fcc-bbe1-08dc35cbb907</Key>
      <Name>Contact Us</Name>
      <Alias>contactUs</Alias>
      <Definition>1b966f26-0901-4d8c-8778-8be3801f4c3d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12b1d2de-c9f6-4065-9ff8-574d0fee0abc</Key>
      <Name>Highlighted Articles</Name>
      <Alias>highlightedArticles</Alias>
      <Definition>bcfe9880-36c4-4a24-a68d-51d071910e73</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5c4a5586-eeb4-4b9b-9478-519d161822b6</Key>
      <Name>Sponsors</Name>
      <Alias>sponsors</Alias>
      <Definition>1226b6c6-3215-452d-8aba-d592d4870c77</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>