<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7f6ac54b-1435-4ae9-831f-191dbeab19a5" Alias="article" Level="2">
  <Info>
    <Name>Article</Name>
    <Icon>icon-umb-content color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e5f0baaa-5b4f-4f75-8fe1-d94caa6c2e4c">footer</Composition>
      <Composition Key="928ec902-390d-4707-9ae4-2efdf1c8c592">header</Composition>
      <Composition Key="0310e315-8872-4731-b3b7-73ecce998698">page</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bdc83b10-1095-44b3-b773-087dd0da5eb1">Article</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>df11922b-6409-4c2e-adda-07654a02f2e7</Key>
      <Name>Author Details</Name>
      <Alias>authorDetails</Alias>
      <Definition>8c024496-f007-4ba2-88e0-eb5f1e8a4969</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>323b994a-9c0e-45cc-82bd-3b04c41a8762</Key>
      <Name>Headline Info</Name>
      <Alias>headlineInfo</Alias>
      <Definition>c4038552-b960-418c-8929-87a017ffb870</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a6e3751d-bf18-420d-962c-506aa0a35a59</Key>
      <Name>Page Details</Name>
      <Alias>pageDetails</Alias>
      <Definition>bf34f873-0b1f-4045-aed4-716a5caf37a5</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>31c95c44-b419-466c-81ec-01faa8cb6030</Key>
      <Name>Preview image</Name>
      <Alias>previewImage</Alias>
      <Definition>5625a22a-8a58-4633-8141-25dc8ee2e903</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This image will be shown on the article preview]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="preview">Preview</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ff68df37-4517-49f0-a3cb-9143a4c9dbe0</Key>
      <Name>Preview text</Name>
      <Alias>previewText</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This text will be shown as a description on the article preview]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="preview">Preview</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c0c803e9-c0e3-4dfd-b9c2-2b24c761d230</Key>
      <Name>Related Articles</Name>
      <Alias>relatedArticles</Alias>
      <Definition>d412f5ed-82e4-4845-92a2-ec38c5699d43</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1cfeca62-14d6-40de-a0b4-aaf14b8930ac</Key>
      <Name>Tags</Name>
      <Alias>tags</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Preview</Caption>
      <SortOrder>100</SortOrder>
      <Alias>preview</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>