<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fe8b7c59-72f0-4eab-9481-e04d447253ef" Alias="error404" Level="2">
  <Info>
    <Name>Error404</Name>
    <Icon>icon-application-error color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e5f0baaa-5b4f-4f75-8fe1-d94caa6c2e4c">footer</Composition>
      <Composition Key="928ec902-390d-4707-9ae4-2efdf1c8c592">header</Composition>
      <Composition Key="0310e315-8872-4731-b3b7-73ecce998698">page</Composition>
    </Compositions>
    <DefaultTemplate>Error404</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5ad025e1-e058-41ea-b60b-b685d4d36a29">Error404</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f2f1348a-ea81-4bd6-81ed-58ee6b719ab5" SortOrder="0">donatePopup</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1e2682b3-62e4-47a9-ae1a-567ad78eb843</Key>
      <Name>ErrorDescription</Name>
      <Alias>errorDescription</Alias>
      <Definition>c4038552-b960-418c-8929-87a017ffb870</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>