<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0e29f617-7d21-40ca-90d1-69f4b5598b90" Alias="nasiPobednici" Level="2">
  <Info>
    <Name>NasiPobednici</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e5f0baaa-5b4f-4f75-8fe1-d94caa6c2e4c">footer</Composition>
      <Composition Key="928ec902-390d-4707-9ae4-2efdf1c8c592">header</Composition>
      <Composition Key="0310e315-8872-4731-b3b7-73ecce998698">page</Composition>
    </Compositions>
    <DefaultTemplate>NasiPobednici</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b4bde216-fcee-423c-aabc-a543b4b07481">NasiPobednici</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7f6ac54b-1435-4ae9-831f-191dbeab19a5" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2eafb054-d5fb-47cb-8cba-668250682e0d</Key>
      <Name>Blogs Grid</Name>
      <Alias>blogsGrid</Alias>
      <Definition>8fd4640f-9be7-4295-aed2-88a0126d83fa</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fbf187b7-13f7-4d65-be19-cdc7fedfe641</Key>
      <Name>BlogSignUp</Name>
      <Alias>blogSignUp</Alias>
      <Definition>4cd58463-b362-47df-b74e-ba5493236caa</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f3b6a776-5bc9-4234-b21a-b9645cb4734d</Key>
      <Name>HighlightedArticle</Name>
      <Alias>highlightedArticle</Alias>
      <Definition>bcfe9880-36c4-4a24-a68d-51d071910e73</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dc4f85db-664f-497d-9c8f-89b1579c786c</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7c995f5d-d104-45d2-bd59-2b6db628cd95</Key>
      <Name>TitleDescriptionAndButton</Name>
      <Alias>titleDescriptionAndButton</Alias>
      <Definition>c4038552-b960-418c-8929-87a017ffb870</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>