<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Approved Color" Level="1">
  <Info>
    <Name>Approved Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "UseLabel": false,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"0b5394\",\"label\":\"0b5394\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"e23f72\",\"label\":\"a64d79\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"b6d7a8\",\"label\":\"b6d7a8\"}"
    }
  ]
}]]></Config>
</DataType>