<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d04f53fb-b9a1-4dca-ac2d-2a39570bad9f" Alias="BlogSignUp - Background color - Radio button list" Level="1">
  <Info>
    <Name>BlogSignUp - Background color - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Blue"
    },
    {
      "id": 2,
      "value": "White"
    }
  ]
}]]></Config>
</DataType>