<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da46ad94-9afa-406c-9802-4b012867d094" Alias="Button - Button style - Radio button list" Level="1">
  <Info>
    <Name>Button - Button style - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Regular"
    },
    {
      "id": 2,
      "value": "Stroked"
    },
    {
      "id": 3,
      "value": "Link"
    }
  ]
}]]></Config>
</DataType>