<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16038948-a3dc-4954-b2fd-9fa189103d14" Alias="ContactUs - Background color - Radio button list" Level="1">
  <Info>
    <Name>ContactUs - Background color - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Blue"
    },
    {
      "id": 2,
      "value": "White"
    }
  ]
}]]></Config>
</DataType>