<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5090cb4-ffc6-4961-82cb-1523026b2194" Alias="JoinUsPreContactPage" Level="2">
  <Info>
    <Name>JoinUsPreContactPage</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "joinUsPreContactPage",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>