<?xml version="1.0" encoding="utf-8"?>
<DataType Key="60ac04fe-29dc-4016-b081-7e10bc0b2266" Alias="List View - " Level="1">
  <Info>
    <Name>List View - </Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "PageSize": 9,
  "OrderBy": "updateDate",
  "OrderDirection": "asc",
  "IncludeProperties": [
    {
      "alias": "sortOrder",
      "header": "Sort order",
      "nameTemplate": null,
      "isSystem": 1
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "nameTemplate": null,
      "isSystem": 1
    },
    {
      "alias": "owner",
      "header": "Created by",
      "nameTemplate": null,
      "isSystem": 1
    }
  ],
  "Layouts": [
    {
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "icon": "icon-list",
      "isSystem": 1,
      "selected": true
    },
    {
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "selected": true
    }
  ],
  "BulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": true,
    "allowBulkDelete": true
  },
  "Icon": "icon-list",
  "TabName": null,
  "ShowContentFirst": false,
  "UseInfiniteEditor": false
}]]></Config>
</DataType>