<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f7ca681-42f4-4c08-94c5-2bbc6d679261" Alias="Medium Text Block - Text - Textarea" Level="1">
  <Info>
    <Name>Medium Text Block - Text - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>