<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6f24128-63fe-4897-8d02-9fe524f6f96b" Alias="MNTP - TEST" Level="2">
  <Info>
    <Name>MNTP - TEST</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>MNTP</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/cd4ce9234b404bd5b0a11b8d41bb7262"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>