<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81e29b3c-acb2-484b-a03c-e0bbbf4a56b6" Alias="NC - Accordion" Level="2">
  <Info>
    <Name>NC - Accordion</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "accordion",
      "ncTabAlias": "Content",
      "nameTemplate": "Accordion"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>