<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cca26626-4c90-4224-94aa-3d33ca4fd84b" Alias="NC - AppPromotion" Level="2">
  <Info>
    <Name>NC - AppPromotion</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "appPromotion",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>