<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c024496-f007-4ba2-88e0-eb5f1e8a4969" Alias="NC - Author Details" Level="2">
  <Info>
    <Name>NC - Author Details</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "authorDetails",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>