<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e53d388b-0a64-4309-9ce7-cd80d087655a" Alias="NC - Blog Carousel" Level="2">
  <Info>
    <Name>NC - Blog Carousel</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "blogCarousel",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>