<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4cd58463-b362-47df-b74e-ba5493236caa" Alias="NC - BlogSignUp" Level="2">
  <Info>
    <Name>NC - BlogSignUp</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "blogSignUp",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>