<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef5e95d9-b4bb-4f1d-aa43-477a0483b031" Alias="NC - Blog content list" Level="2">
  <Info>
    <Name>NC - Blog content list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "022507a5-fce6-49a1-91fb-6ff72cab1498",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Blog content list",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>