<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8fd4640f-9be7-4295-aed2-88a0126d83fa" Alias="NC - Block Grid" Level="2">
  <Info>
    <Name>NC - Block Grid</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "blockGrid",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>