<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eca0a3d8-6b1e-4bc2-8d9e-548641f16b78" Alias="NC - Content Test" Level="2">
  <Info>
    <Name>NC - Content Test</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>