<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b966f26-0901-4d8c-8778-8be3801f4c3d" Alias="NC - ContactUs" Level="2">
  <Info>
    <Name>NC - ContactUs</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "contactus",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>