<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f25dd53-dfd2-497c-bcec-611596c73fd3" Alias="NC - DonatePopup" Level="2">
  <Info>
    <Name>NC - DonatePopup</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "donatePopup",
      "ncTabAlias": "Content",
      "nameTemplate": "_DonatePopup"
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>