<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bcfe9880-36c4-4a24-a68d-51d071910e73" Alias="NC - HighlightedArticle" Level="2">
  <Info>
    <Name>NC - HighlightedArticle</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "highlightedArticle",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>