<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03241e11-c97e-4e21-805e-b46ff2d4fb33" Alias="NC - HowToHelpParticipate" Level="2">
  <Info>
    <Name>NC - HowToHelpParticipate</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "howToHelpParticipate",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>