<?xml version="1.0" encoding="utf-8"?>
<DataType Key="68002fda-9473-4bfe-a8b2-29e57be5ca2c" Alias="NC - ImageButton" Level="2">
  <Info>
    <Name>NC - ImageButton</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "imageButton",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>