<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f6c01dc-7360-440e-b04e-443d418c4627" Alias="NC - Medium Text Block" Level="2">
  <Info>
    <Name>NC - Medium Text Block</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "mediumTextBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>