<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d412f5ed-82e4-4845-92a2-ec38c5699d43" Alias="NC - Related Articles" Level="2">
  <Info>
    <Name>NC - Related Articles</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "relatedArticles",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>