<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1226b6c6-3215-452d-8aba-d592d4870c77" Alias="NC - Sponsors" Level="2">
  <Info>
    <Name>NC - Sponsors</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "sponsors",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>