<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b63a0782-2236-4e31-a9f5-e11bb5abc19d" Alias="NC - ThankyouPopup" Level="2">
  <Info>
    <Name>NC - ThankyouPopup</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "thankyouPopup",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>