<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4038552-b960-418c-8929-87a017ffb870" Alias="NC - TitleDescriptionAndButton" Level="2">
  <Info>
    <Name>NC - TitleDescriptionAndButton</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "titleDescriptionAndButton",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>