<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24a7667c-d213-4c8e-8f8f-9c4ce262f1a8" Alias="NC- TopicDetails" Level="2">
  <Info>
    <Name>NC- TopicDetails</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Contents</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "topicDetails",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>