<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f7276352-8cd7-4a90-b751-d60d2bfcb833" Alias="Separator - Variant - Radio button list" Level="1">
  <Info>
    <Name>Separator - Variant - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Red and Blue"
    },
    {
      "id": 2,
      "value": "White and Red"
    }
  ]
}]]></Config>
</DataType>