<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9aca534e-fd25-4876-924a-f5d87e5f7d8d" Alias="SplitBlock - Background Color - Radio button list" Level="1">
  <Info>
    <Name>SplitBlock - Background Color - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "White"
    },
    {
      "id": 2,
      "value": "Blue"
    }
  ]
}]]></Config>
</DataType>