<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16608a4f-498c-42d5-9af4-3901ff47a7a4" Alias="Text" Level="1">
  <Info>
    <Name>Text</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>