<?xml version="1.0" encoding="utf-8"?>
<DataType Key="29e43c5b-fd53-4c00-bc76-b6caa2605437" Alias="Text List" Level="1">
  <Info>
    <Name>Text List</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Minimum": 0,
  "Maximum": 0
}]]></Config>
</DataType>