<div class="blog-carousel-section">
  <div class="blog-carousel-heading">
    <div class="log-carousel-heading-left">
      <p class="blog-carousel-tag">vesti & blog</p>
      <h3>Leuka Blog</h3>
    </div>
    <div class="log-carousel-heading-right">
      <div class="swiper-button-prev">
        <img src="../assets/images/arrow-left.svg" alt="" />
      </div>
      <div class="swiper-button-next">
        <img src="../assets/images/arrow-right.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="blog-topic-card">
          <img
            src="images/istockphoto-646350998-1024x1024 5.png"
            alt="istockphoto-646350998-1024x1024 5.png"
          />
          <div class="tags">
            <div class="tag">
              <div class="tag-dot"></div>
              <p>saveti</p>
            </div>
          </div>
          <h2 class="blog-title">
            O dobrovoljnom davanju trombocita i matičnih ćelija
          </h2>
          <p class="blog-desc">
            Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
            transplantacije matičnih ćelija, koncerte i tribinu.
          </p>
          <a class="read-more" href="#">Pročitaj više</a>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="blog-topic-card">
          <img
            src="images/istockphoto-646350998-1024x1024 5.png"
            alt="istockphoto-646350998-1024x1024 5.png"
          />
          <div class="tags">
            <div class="tag">
              <div class="tag-dot"></div>
              <p>saveti</p>
            </div>
          </div>
          <h2 class="blog-title">
            O dobrovoljnom davanju trombocita i matičnih ćelija
          </h2>
          <p class="blog-desc">
            Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
            transplantacije matičnih ćelija, koncerte i tribinu.
          </p>
          <a class="read-more" href="#">Pročitaj više</a>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="blog-topic-card">
          <img
            src="images/istockphoto-646350998-1024x1024 5.png"
            alt="istockphoto-646350998-1024x1024 5.png"
          />
          <div class="tags">
            <div class="tag">
              <div class="tag-dot"></div>
              <p>saveti</p>
            </div>
          </div>
          <h2 class="blog-title">
            O dobrovoljnom davanju trombocita i matičnih ćelija
          </h2>
          <p class="blog-desc">
            Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
            transplantacije matičnih ćelija, koncerte i tribinu.
          </p>
          <a class="read-more" href="#">Pročitaj više</a>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="blog-topic-card">
          <img
            src="images/istockphoto-646350998-1024x1024 5.png"
            alt="istockphoto-646350998-1024x1024 5.png"
          />
          <div class="tags">
            <div class="tag">
              <div class="tag-dot"></div>
              <p>saveti</p>
            </div>
          </div>
          <h2 class="blog-title">
            O dobrovoljnom davanju trombocita i matičnih ćelija
          </h2>
          <p class="blog-desc">
            Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
            transplantacije matičnih ćelija, koncerte i tribinu.
          </p>
          <a class="read-more" href="#">Pročitaj više</a>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="blog-topic-card">
          <img
            src="images/istockphoto-646350998-1024x1024 5.png"
            alt="istockphoto-646350998-1024x1024 5.png"
          />
          <div class="tags">
            <div class="tag">
              <div class="tag-dot"></div>
              <p>saveti</p>
            </div>
          </div>
          <h2 class="blog-title">
            O dobrovoljnom davanju trombocita i matičnih ćelija
          </h2>
          <p class="blog-desc">
            Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
            transplantacije matičnih ćelija, koncerte i tribinu.
          </p>
          <a class="read-more" href="#">Pročitaj više</a>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="blog-topic-card">
          <img
            src="images/istockphoto-646350998-1024x1024 5.png"
            alt="istockphoto-646350998-1024x1024 5.png"
          />
          <div class="tags">
            <div class="tag">
              <div class="tag-dot"></div>
              <p>saveti</p>
            </div>
          </div>
          <h2 class="blog-title">
            O dobrovoljnom davanju trombocita i matičnih ćelija
          </h2>
          <p class="blog-desc">
            Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
            transplantacije matičnih ćelija, koncerte i tribinu.
          </p>
          <a class="read-more" href="#">Pročitaj više</a>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="blog-topic-card">
          <img
            src="images/istockphoto-646350998-1024x1024 5.png"
            alt="istockphoto-646350998-1024x1024 5.png"
          />
          <div class="tags">
            <div class="tag">
              <div class="tag-dot"></div>
              <p>saveti</p>
            </div>
          </div>
          <h2 class="blog-title">
            O dobrovoljnom davanju trombocita i matičnih ćelija
          </h2>
          <p class="blog-desc">
            Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
            transplantacije matičnih ćelija, koncerte i tribinu.
          </p>
          <a class="read-more" href="#">Pročitaj više</a>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-mobile">
    <div class="blog-topic-card">
      <img
        src="images/istockphoto-646350998-1024x1024 5.png"
        alt="istockphoto-646350998-1024x1024 5.png"
      />
      <div class="tags">
        <div class="tag">
          <div class="tag-dot"></div>
          <p>saveti</p>
        </div>
      </div>
      <h2 class="blog-title">
        O dobrovoljnom davanju trombocita i matičnih ćelija
      </h2>
      <p class="blog-desc">
        Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
        transplantacije matičnih ćelija, koncerte i tribinu.
      </p>
      <a class="read-more" href="#">Pročitaj više</a>
    </div>
    <div class="blog-topic-card">
      <img
        src="images/istockphoto-646350998-1024x1024 5.png"
        alt="istockphoto-646350998-1024x1024 5.png"
      />
      <div class="tags">
        <div class="tag">
          <div class="tag-dot"></div>
          <p>saveti</p>
        </div>
      </div>
      <h2 class="blog-title">
        O dobrovoljnom davanju trombocita i matičnih ćelija
      </h2>
      <p class="blog-desc">
        Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
        transplantacije matičnih ćelija, koncerte i tribinu.
      </p>
      <a class="read-more" href="#">Pročitaj više</a>
    </div>
    <div class="blog-topic-card">
      <img
        src="images/istockphoto-646350998-1024x1024 5.png"
        alt="istockphoto-646350998-1024x1024 5.png"
      />
      <div class="tags">
        <div class="tag">
          <div class="tag-dot"></div>
          <p>saveti</p>
        </div>
      </div>
      <h2 class="blog-title">
        O dobrovoljnom davanju trombocita i matičnih ćelija
      </h2>
      <p class="blog-desc">
        Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
        transplantacije matičnih ćelija, koncerte i tribinu.
      </p>
      <a class="read-more" href="#">Pročitaj više</a>
    </div>
  </div>
</div>

<!-- Initialize Swiper -->
<script type="module">
  var swiper = new Swiper(".swiper", {
    breakpoints: {
      600: {
        slidesPerView: 2,
        spaceBetween: 45,
      },
      920: {
        slidesPerView: 3,
        spaceBetween: 45,
      },
      1200: {
        slidesPerView: 4,
        spaceBetween: 40,
      },
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
