<div class="blog-carousel-section">
  <div class="blog-carousel-heading">
    <p class="blog-carousel-tag">vesti & blog</p>
    <h3>Leuka Blog</h3>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="blog-topic-card">
          <img
            src="images/istockphoto-646350998-1024x1024 5.png"
            alt="istockphoto-646350998-1024x1024 5.png"
          />
          <div class="tags">
            <div class="tag">
              <div class="tag-dot"></div>
              <p>saveti</p>
            </div>
          </div>
          <h2 class="blog-title">
            O dobrovoljnom davanju trombocita i matičnih ćelija
          </h2>
          <p class="blog-desc">
            Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
            transplantacije matičnih ćelija, koncerte i tribinu.
          </p>
          <a class="read-more" href="#">Pročitaj više</a>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="blog-topic-card">
          <img
            src="images/istockphoto-646350998-1024x1024 5.png"
            alt="istockphoto-646350998-1024x1024 5.png"
          />
          <div class="tags">
            <div class="tag">
              <div class="tag-dot"></div>
              <p>saveti</p>
            </div>
          </div>
          <h2 class="blog-title">
            O dobrovoljnom davanju trombocita i matičnih ćelija
          </h2>
          <p class="blog-desc">
            Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
            transplantacije matičnih ćelija, koncerte i tribinu.
          </p>
          <a class="read-more" href="#">Pročitaj više</a>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="blog-topic-card">
          <img
            src="images/istockphoto-646350998-1024x1024 5.png"
            alt="istockphoto-646350998-1024x1024 5.png"
          />
          <div class="tags">
            <div class="tag">
              <div class="tag-dot"></div>
              <p>saveti</p>
            </div>
          </div>
          <h2 class="blog-title">
            O dobrovoljnom davanju trombocita i matičnih ćelija
          </h2>
          <p class="blog-desc">
            Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
            transplantacije matičnih ćelija, koncerte i tribinu.
          </p>
          <a class="read-more" href="#">Pročitaj više</a>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="blog-topic-card">
          <img
            src="images/istockphoto-646350998-1024x1024 5.png"
            alt="istockphoto-646350998-1024x1024 5.png"
          />
          <div class="tags">
            <div class="tag">
              <div class="tag-dot"></div>
              <p>saveti</p>
            </div>
          </div>
          <h2 class="blog-title">
            O dobrovoljnom davanju trombocita i matičnih ćelija
          </h2>
          <p class="blog-desc">
            Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
            transplantacije matičnih ćelija, koncerte i tribinu.
          </p>
          <a class="read-more" href="#">Pročitaj više</a>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="blog-topic-card">
          <img
            src="images/istockphoto-646350998-1024x1024 5.png"
            alt="istockphoto-646350998-1024x1024 5.png"
          />
          <div class="tags">
            <div class="tag">
              <div class="tag-dot"></div>
              <p>saveti</p>
            </div>
          </div>
          <h2 class="blog-title">
            O dobrovoljnom davanju trombocita i matičnih ćelija
          </h2>
          <p class="blog-desc">
            Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
            transplantacije matičnih ćelija, koncerte i tribinu.
          </p>
          <a class="read-more" href="#">Pročitaj više</a>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="blog-topic-card">
          <img
            src="images/istockphoto-646350998-1024x1024 5.png"
            alt="istockphoto-646350998-1024x1024 5.png"
          />
          <div class="tags">
            <div class="tag">
              <div class="tag-dot"></div>
              <p>saveti</p>
            </div>
          </div>
          <h2 class="blog-title">
            O dobrovoljnom davanju trombocita i matičnih ćelija
          </h2>
          <p class="blog-desc">
            Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
            transplantacije matičnih ćelija, koncerte i tribinu.
          </p>
          <a class="read-more" href="#">Pročitaj više</a>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="blog-topic-card">
          <img
            src="images/istockphoto-646350998-1024x1024 5.png"
            alt="istockphoto-646350998-1024x1024 5.png"
          />
          <div class="tags">
            <div class="tag">
              <div class="tag-dot"></div>
              <p>saveti</p>
            </div>
          </div>
          <h2 class="blog-title">
            O dobrovoljnom davanju trombocita i matičnih ćelija
          </h2>
          <p class="blog-desc">
            Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme
            transplantacije matičnih ćelija, koncerte i tribinu.
          </p>
          <a class="read-more" href="#">Pročitaj više</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Initialize Swiper -->
<script type="module">
  var swiper = new Swiper(".swiper", {
    slidesPerView: 4,
    spaceBetween: 30,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
