<?xml version="1.0" encoding="utf-8"?>
<Media Key="469e9df8-40b5-41ed-91a0-5474f7827340" Alias="Apppromotion" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Apppromotion</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-15T22:22:43</CreateDate>
    <NodeName Default="Apppromotion" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/50oj2rvv/apppromotion.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>