<?xml version="1.0" encoding="utf-8"?>
<Media Key="1218f04d-e989-4626-9cad-0c4eb66b776d" Alias="Apppromotionbackground" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Apppromotionbackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-15T22:37:14</CreateDate>
    <NodeName Default="Apppromotionbackground" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jpybqeuj/apppromotionbackground.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>