<?xml version="1.0" encoding="utf-8"?>
<Media Key="f28c60a7-08fa-4518-ba4b-c6b3e04c01ca" Alias="Chase Baker F 0Cvh2ovs Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ChaseBakerF0Cvh2ovsUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-15T16:43:22</CreateDate>
    <NodeName Default="Chase Baker F 0Cvh2ovs Unsplash" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ufqiz2x0/chase-baker-f-0cvh2ovs-unsplash.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>