<?xml version="1.0" encoding="utf-8"?>
<Media Key="17d278b5-eb47-42a1-be19-0b13abe9e707" Alias="Ellipse 29" Level="2">
  <Info>
    <Parent Key="dec38ca0-c01e-4a18-925b-6028599b65a1">UploadedImages</Parent>
    <Path>/UploadedImages/Ellipse29</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T11:44:09</CreateDate>
    <NodeName Default="Ellipse 29" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wn2nef0h/ellipse-29.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>