<?xml version="1.0" encoding="utf-8"?>
<Media Key="c77d2132-86d6-4867-b36b-e172abef2d73" Alias="Ellipse 52" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ellipse52</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-15T21:45:24</CreateDate>
    <NodeName Default="Ellipse 52" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gqqh1r4w/ellipse-52.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>