<?xml version="1.0" encoding="utf-8"?>
<Media Key="4753968f-946e-41aa-844c-f381847a93b6" Alias="Image 2" Level="2">
  <Info>
    <Parent Key="dec38ca0-c01e-4a18-925b-6028599b65a1">UploadedImages</Parent>
    <Path>/UploadedImages/Image2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T11:44:10</CreateDate>
    <NodeName Default="Image 2" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rglfgr1o/image-2.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>