<?xml version="1.0" encoding="utf-8"?>
<Media Key="d93ba5e6-5af0-4ca3-98e3-7f45d7cd214f" Alias="Image 5" Level="2">
  <Info>
    <Parent Key="dec38ca0-c01e-4a18-925b-6028599b65a1">UploadedImages</Parent>
    <Path>/UploadedImages/Image5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T11:44:11</CreateDate>
    <NodeName Default="Image 5" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2csdxwpq/image-5.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>