<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef73c92c-c0da-40ba-ab48-7c508dce8620" Alias="Istockphoto 646350998 1024X1024 1" Level="2">
  <Info>
    <Parent Key="dec38ca0-c01e-4a18-925b-6028599b65a1">UploadedImages</Parent>
    <Path>/UploadedImages/Istockphoto6463509981024X10241</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T11:44:11</CreateDate>
    <NodeName Default="Istockphoto 646350998 1024X1024 1" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/flehh140/istockphoto-646350998-1024x1024-1.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>