<?xml version="1.0" encoding="utf-8"?>
<Media Key="44f6ef6f-933e-48b9-8d86-4aa716cb03d9" Alias="Istockphoto 646350998 1024X1024 5" Level="2">
  <Info>
    <Parent Key="dec38ca0-c01e-4a18-925b-6028599b65a1">UploadedImages</Parent>
    <Path>/UploadedImages/Istockphoto6463509981024X10245</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T11:44:01</CreateDate>
    <NodeName Default="Istockphoto 646350998 1024X1024 5" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nhxpmrb4/istockphoto-646350998-1024x1024-5.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>