<?xml version="1.0" encoding="utf-8"?>
<Media Key="edd30ef3-3219-486f-8343-b527a210eda9" Alias="Istockphoto 646350998 1024X1024 8" Level="2">
  <Info>
    <Parent Key="dec38ca0-c01e-4a18-925b-6028599b65a1">UploadedImages</Parent>
    <Path>/UploadedImages/Istockphoto6463509981024X10248</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T11:44:02</CreateDate>
    <NodeName Default="Istockphoto 646350998 1024X1024 8" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4uhnh1iz/istockphoto-646350998-1024x1024-8.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>