<?xml version="1.0" encoding="utf-8"?>
<Media Key="dec5b6a7-788f-4564-b0e2-c188be624ffe" Alias="Leukociti" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Leukociti</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-15T14:39:00</CreateDate>
    <NodeName Default="Leukociti" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ug1mlxup/leukociti.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>