<?xml version="1.0" encoding="utf-8"?>
<Media Key="a54b59d7-edcd-4225-8784-32e19eb496ff" Alias="Logo Large" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoLarge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-15T12:24:30</CreateDate>
    <NodeName Default="Logo Large" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0fmfxjon/logo-large.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>