<?xml version="1.0" encoding="utf-8"?>
<Media Key="b307ba1e-9d21-432f-a9c7-725add701081" Alias="Logo 1" Level="2">
  <Info>
    <Parent Key="dec38ca0-c01e-4a18-925b-6028599b65a1">UploadedImages</Parent>
    <Path>/UploadedImages/Logo1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T11:44:03</CreateDate>
    <NodeName Default="Logo 1" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dc3apmzb/logo-1.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>