<?xml version="1.0" encoding="utf-8"?>
<Media Key="fba2ca11-20b3-412a-88b7-0f6a8f0521dd" Alias="Logo 3" Level="2">
  <Info>
    <Parent Key="dec38ca0-c01e-4a18-925b-6028599b65a1">UploadedImages</Parent>
    <Path>/UploadedImages/Logo3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T11:44:04</CreateDate>
    <NodeName Default="Logo 3" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/c5fkf43t/logo-3.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>