<?xml version="1.0" encoding="utf-8"?>
<Media Key="237a2903-b990-46c5-ba0c-4f5b66ab6012" Alias="Mario Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MarioImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-15T19:39:49</CreateDate>
    <NodeName Default="Mario Image" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/auuhui2q/mario-image.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>