<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc6622a3-c8b3-4510-8ffe-2454b78d486b" Alias="Rectangle 153" Level="2">
  <Info>
    <Parent Key="dec38ca0-c01e-4a18-925b-6028599b65a1">UploadedImages</Parent>
    <Path>/UploadedImages/Rectangle153</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T11:44:08</CreateDate>
    <NodeName Default="Rectangle 153" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uurgntft/rectangle-153.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>