<?xml version="1.0" encoding="utf-8"?>
<Media Key="21935e1c-7655-4c7f-93e1-5dd60f5745cd" Alias="Rectangle 82 (1)" Level="2">
  <Info>
    <Parent Key="dec38ca0-c01e-4a18-925b-6028599b65a1">UploadedImages</Parent>
    <Path>/UploadedImages/Rectangle821</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T11:44:06</CreateDate>
    <NodeName Default="Rectangle 82 (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/djpjgikv/rectangle-82-1.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>