<?xml version="1.0" encoding="utf-8"?>
<Media Key="881939a8-f196-4c8f-9958-d79b9aef24d2" Alias="Rectangle 82" Level="2">
  <Info>
    <Parent Key="dec38ca0-c01e-4a18-925b-6028599b65a1">UploadedImages</Parent>
    <Path>/UploadedImages/Rectangle82</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T11:44:06</CreateDate>
    <NodeName Default="Rectangle 82" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vy2btcew/rectangle-82.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>