<?xml version="1.0" encoding="utf-8"?>
<Media Key="53e64b42-b09f-41cf-94be-935af82ac7ce" Alias="Rectangle 83 (1)" Level="2">
  <Info>
    <Parent Key="dec38ca0-c01e-4a18-925b-6028599b65a1">UploadedImages</Parent>
    <Path>/UploadedImages/Rectangle831</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T11:44:06</CreateDate>
    <NodeName Default="Rectangle 83 (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/irfpmu25/rectangle-83-1.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>