<?xml version="1.0" encoding="utf-8"?>
<Media Key="dec38ca0-c01e-4a18-925b-6028599b65a1" Alias="UploadedImages" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UploadedImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-10-15T20:46:02</CreateDate>
    <NodeName Default="UploadedImages" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>