html
  head
    link(rel="stylesheet", href="index.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins")

    body
      div(class="workbench")
        a(class="button" style="margin:20px") Neko dugme
        a(class="button button-pink" style="margin:20px") Neko dugme
        a(class="button button-link" style="margin:20px") Neko dugme
        a(class="button button-stroked" style="margin:20px") Neko dugme
        a(class="button button-green" style="margin:20px") Neko dugme

        button(class="button" style="margin:20px") Neko dugme
        buttona(class="button button-pink" style="margin:20px") Neko dugme
        button(class="button button-link" style="margin:20px") Neko dugme
        button(class="button button-stroked" style="margin:20px") Neko dugme
        button(class="button button-green" style="margin:20px") Neko dugme
