html
  head
    link(rel="stylesheet", href="index.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins")

  body(style={display: 'block', float: 'left', width: '100%', height: '100%'})
    block content
      include ../partials/header/header.html
      include ../partials/app-promo/app-promo.html
      include ../partials/footer/footer.html
      