html
  head
    link(rel="stylesheet", href="index.css")

  body
    block content
      include ../partials/header/header.html
      include ../partials/friends/friends.html
      include ../partials/footer/footer.html