html
  head
    link(rel="stylesheet", href="index.css")
    link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Poppins')

  body
    block content
      include ../partials/header/header.html
      include ../partials/homepageHeader/homepageHeader.html
      include ../partials/footer/footer.html