@inherits UmbracoViewPage<PageViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @{
        Html.RenderAction<LayoutController>(c => nameof(c.MetaTags), new { viewModel = Model.MetaTags });
        Html.RenderAction<LayoutController>(c => nameof(c.OpenGraph), new { viewModel = Model.OpenGraph });
    }
    @if (!string.IsNullOrWhiteSpace(Model.CookieScript))
    {
        @Html.Raw(Model.CookieScript)
    }

    <link href="~/assets/styles/index.css" type="text/css" rel="stylesheet" />
    <script src="~/assets/scripts/jquery-3.6.1.min.js"></script>
    <link href="https://unpkg.com/swiper/swiper-bundle.min.css" type="text/css" rel="stylesheet" />
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

</head>
<body style="display:block;float:left;width:100%;height:100%;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    @{
        Html.RenderPartial("~/Views/Partials/Layout/_Header.cshtml", Model.Header);
    }

    @RenderBody()

    @{
        Html.RenderPartial("~/Views/Partials/Layout/_Footer.cshtml", Model.Footer);
    }
</body>
</html>
