@using Leuka.Core.ViewModels.Pages;
@inherits UmbracoViewPage<ArticleViewModel>

<div class="blog-post">

    @if (Model.HeadlineInfo != null)
    {
        Html.RenderPartial(Model.HeadlineInfo.PartialViewPath, Model.HeadlineInfo);
    }

    @if (Model.Breadcrumbs.Chain != null)
    {
        Html.RenderPartial(Model.Breadcrumbs.PartialViewPath, Model.Breadcrumbs);
    }

    <div class="blog-post-content" style="margin: 0 auto; padding: 40px 0">@Model.PageDetails</div>

    @if (Model.AuthorDetails != null)
    {
        Html.RenderPartial(Model.AuthorDetails.PartialViewPath, Model.AuthorDetails);
    }
     
    @if (Model.RelatedArticles != null)
    {
        Html.RenderPartial(Model.RelatedArticles.PartialViewPath, Model.RelatedArticles);
    }

</div>

