@inherits UmbracoViewPage<BlogsViewModel>
@using ContentModels = Leuka.Models.Generated;

@if (Model.PageHeadline != null)
{
    Html.RenderPartial(Model.PageHeadline.PartialViewPath, Model.PageHeadline);
}

@if (Model.HighlightedArticleViewModel != null)
{
    Html.RenderPartial(Model.HighlightedArticleViewModel.PartialViewPath, Model.HighlightedArticleViewModel);
}

<h2>@Model.Title</h2>

@if (Model.Grid != null)
{
    Html.RenderPartial(Model.Grid.PartialViewPath, Model.Grid);
}
