@inherits UmbracoViewPage<Error404ViewModel>
<div class="error404-page">
    <h2>@Model.OpenGraph.Title</h2>
    <p>@Model.OpenGraph.Description</p>

    <a href="/">@Model.HomePageLinkDescription</a>

    @foreach (var component in Model.Components)
    {
        Html.RenderPartial(component.PartialViewPath, component);
    }
</div>