@inherits UmbracoViewPage<HomeViewModel>

<p>Homepage</p>

@if (Model.Components != null)
{
    foreach(var component in Model.Components)
    {
        Html.RenderPartial(component.PartialViewPath, component);
    }
}