@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fonts.scss';
@import "../../assets/styles/breakpoints.scss";


.contact-us-wrapper {
    background:  linear-gradient(180deg, rgba(126, 214, 210, 0.2) 0%, rgba(66, 133, 244, 0.2) 60.89%, rgba(218, 237, 248, 0.2) 100%);


    .ring-svg {
        position: absolute;
        top: -37px;
        left: 150px;
    }

    .file-upload-button {
        margin-top: 20px;
        display: block;
        width: 50%;
        max-width: 150px;
        text-align: center;
        background-color: transparent;
        border: 1px solid #03178F;
        border-radius: 600px;
        height: 28px;
        padding-top: 14px;
        cursor: pointer;
    }

    input[type="file"] {
        display: none;
    }

    .contact-us-button { 
        margin-top: 40px;
    }
}