<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8" />

<div class="participate-wrapper">
    <div class="participate-content">
        <div class="participate-header">
            <h1 class="form-header">Kako učestvovati u akcijama udruženja?</h1>
            <h6>Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme transplantacije matičnih ćelija,
                koncerte i tribinu.</h6>
        </div>
        <div class="participate-info">
            <div class="participate-bg-image"></div>
            <div class="participate-columns">
                <div class="participate-column-left">
                    <div class="participate-column-left-align">
                        <label class="participate-column-left-header">
                            Neki od načina na koje mozete da pomognete našem udruženju:
                        </label> <br>
                        <label class="participate-column-left-desc">
                            Akcija obuhvata izložbu radova pacijentkinje
                        </label>
                    </div>
                    <div>
                        <hr class="horisontal-line" style="float: left; margin-right: 10%;" />
                        <hr class="horisontal-line" />
                    </div>

                    <div class="participate-column-left-checkboxes">
                        <div><input type="checkbox" checked /> <span>Prenociste tokom terapije za leukemiju</span></div>
                        <div><input type="checkbox" checked /> <span>Pomoć u vidu transporta pacijenata na
                                terapije</span></div>
                        <div><input type="checkbox" checked /> <span>Pružanje informacija, edukativni servis</span>
                        </div>
                        <div><input type="checkbox" checked /> <span>Prenociste tokom terapije za leukemiju</span></div>
                        <div><input type="checkbox" checked /> <span>Pomoć u vidu transporta pacijenata na
                                terapije</span></div>
                        <div><input type="checkbox" checked /> <span>Pružanje informacija, edukativni servis</span>
                        </div>
                        <div class="contact-us-button" onclick="submitForm()">
                            <a href="#">Kontaktirajte nas</a>
                        </div>
                    </div>

                </div>

                <div class="participate-column-right">
                    <div class="participate-images">
                        <img src="images/logo-transparent-1.svg" />
                        <img src="images/logo-transparent-2.png" alt="Leuka" />
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>